[2011-07-13 06:23] genadyp opened #1 "Test"
test

[2011-07-13 06:35] genadyp opened #2 "File names encoding"
To check that indexer works with various file names encodings.
If file is not in UTF-8 format then omit it

[2011-07-13 20:28] #1 closed, assigned to genadyp

[2011-07-18 15:09] kolmanv opened #3 "Test issue"
Test test

[2011-07-19 11:41] genadyp commented on #3
close test
if you can remove it from issues

[2011-07-19 11:41] #3 closed, assigned to genadyp

[2011-07-19 12:20] genadyp opened #4 "crawler testing"
Add crawler unit test.
Can be rather difficult cause of SSH connection.

Useful link:
Module Net::SSH::Test
http://net-ssh.github.com/net-ssh/classes/Net/SSH/Test.html

[2011-07-19 12:23] vladrbb commented on #4
Gen Spasibo.

-----Original Message-----
From: genadyp [mailto:reply@reply.github.com]
Sent: Tuesday, July 19, 2011 3:21 PM
To: Vladimir Rogachevsky
Subject: [bbfs] crawler testing (#4)

Add crawler unit test.
Can be rather difficult cause of SSH connection.

Useful link:
Module Net::SSH::Test
http://net-ssh.github.com/net-ssh/classes/Net/SSH/Test.html

##

Reply to this email directly or view it

[2011-07-19 12:25] genadyp opened #5 "SSH connection full support"
Support for various options of SSH connection
such as:
  with/without username, password, port, ...
  public/private keys
  ....

Affected files:
  crawler.rb

[2011-07-19 12:26] genadyp commented on #4
arvut ;))

[2011-07-19 12:29] genadyp opened #6 "run all unit tests script"
Script that runs all unit tests.

[2011-07-22 06:20] kolmanv opened #7 "Update ruby version to 1.9"

[2011-07-22 06:38] kolmanv opened #8 "Add link to README to ruby regexp for files."

[2011-07-23 11:55] genadyp opened #9 "Indexer performs differently in different environments and different Ruby versions"
WindowsXP / Ruby 1.8.7
9e409338c0d8e0bbdbf5316cb569a0afcdb321db,5474,large_server_1,hd1,C:/Kab.Tech/bbfs/resources/index_agent_test/lib/libexslt.lib,Sun Nov 01 16:53:22 UTC 2009

RedHat Linux / Ruby 1.9.2
54649fa7e4ee23ace5d1a717a80df8a7516d3263,5474,large_server_1,hd1,/gpfs/haifa-h1/05/genadyp/Work/Kab.Tech/bbfs/resources/index_agent_test/lib/libexslt.lib,2009-11-01 16:53:22 UTC

Look at the chec

[2011-07-25 07:00] genadyp commented on #9
## From vshiray:

Формат даты желательно определять в самом приложении.
Вариант "2009-11-01 16:53:22 UTC" предпочтительный.

С контрольной суммой не понтяно. Если файлы действительно одинаковые, то где то есть баг.

В линуксе есть консольная утилита sha1sum, которую можно запустить и сравнить результат.
Для Windows тоже есть подобная программа http://www.nfllab.com/sums/sums.zip

[2011-07-25 07:02] genadyp commented on #9
## Linux:

## WindowsXP:

[2011-07-28 15:47] genadyp commented on #5
Option to use public/private keys was added

[2011-07-28 15:47] #5 closed, assigned to genadyp

[2011-07-28 17:11] genadyp commented on #8
done

[2011-07-28 17:11] #8 closed, assigned to genadyp

[2011-07-29 06:21] genadyp commented on #9
## WindowsXP:

Ruby 1.9.2 solves the problem with SHA1

[2011-07-29 07:06] kolmanv commented on #9
On Mac 1.8.7 SHA1 is ok.

[2011-07-29 09:45] kolmanv commented on #9
We have moved to ruby 1.9.2. This solved the SHA1 issue.
Date time single format already pushed.

[2011-07-29 09:45] #9 closed, assigned to genadyp

[2011-09-12 12:11] genadyp commented on #6
done
run_all_tests.rb

[2011-09-12 12:11] #6 closed, assigned to genadyp

[2011-09-12 12:11] genadyp commented on #7
done
can use RVM to easy switch between ruby versions

[2011-09-12 12:11] #7 closed, assigned to genadyp

[2012-06-08 10:35] kolmanv opened #43 "Code styling and code review"
Yaron hello,

1) Please check why people are not receiving emails when you comment on their code.
2) Please work with Grisha on every pull request you get.
3) Please update our style-guide. Remove all redundant rules, update the link to the style-guide which Rame send us.

[2012-06-08 10:38] kolmanv commented on #2
Are you planning on adding test for that?

[2012-06-08 10:40] kolmanv commented on #4
Not relevant.

[2012-06-08 10:40] #4 closed, assigned to genadyp

[2012-06-08 11:12] kolmanv commented on #43
Link to style-guide: https://github.com/bbatsov/ruby-style-guide

[2012-06-09 12:08] genadyp commented on #2
It was already partly done.
I'll finish it after current task.

[2012-06-10 08:13] genadyp opened #45 "indexer revision"
- Should it have only class methods?
  It looks so according to index method but methods itself are not static and there is instance variable
- There is a main method that looks to be too big: index(patterns, otherDB = nil)
- BBFS::Log usage
- Code styling
- Test actually dealing with physical files and directories rather then with StringIO

Priority: Low

[2012-06-12 04:53] kolmanv opened #46 "Code styling tool."
Please look for a code styling/lint tool for our project.
This tool should
We should run it automatically before each commit.
We can do this using pre-commit hook.
For help on this read the following file in a repository: bbfs/.git/hooks/pre-commit.sample

[2012-06-12 05:06] kolmanv opened #47 "Always running backup staging/testing system"
Gena will tell you how to run processes in background.
Slava will tell you how to generate files for the testing system.

We need to think how to 'update' the staging/testing system code.
Maybe we will create a branch which is called staging. Yaron will merge files there and only after you tested the latest version we will merge this to master.

[2012-06-12 05:25] kolmanv opened #48 "0MQ"
1) Learn 0MQ.
2) Design 0MQ usage for our system.
3) Prepare short presentation for everyone.

[2012-06-12 05:33] kolmanv opened #49 "Design for Monitoring server and client"
Monitoring Client, provides simple read only web access for internal process variables.
1) General (CPU/RAM/DISK).
2) Task specific.

Monitoring Server, provides simple read only web access for local (LAN?) processes status/logs.
1) Gather together information from all local processes.
2) Validates a set of rules (configurable) over the information from processes variables.

Check available techno

[2012-06-12 06:32] gshilin commented on #46
My dear friend, RubyMine is ready for you to do it in a single click.
Just don't be lazy.
:)

On Tue, Jun 12, 2012 at 7:53 AM, kolmanv <
reply@reply.github.com

[2012-06-12 06:49] vshiray commented on #48
body p { margin-bottom: 0cm; margin-top: 0pt; }
    Давай это я возьму на себя.
      На это надо много времени, а у меня к тому же уже есть начальная
      база.
      После этого, уже кто то сможет начать этим пользоваться реально.
      On 6/12/2012 8:25 AM, kolmanv wrote:

[code]

2) Design 0MQ usage for our system.
3) Prepare short presentation for everyone.
4) Implement all changes, replace

[2012-06-12 07:16] genadyp commented on #47
If needed I can assist.

[2012-06-12 07:18] vshiray commented on #47
Please start from the manual testing only.
There is no sense to make things so complex from beginning.

[2012-06-12 07:45] kolmanv commented on #47
Alexey, please use Gena to help you out.
Gena you will have other tasks.

[2012-06-12 07:48] kolmanv commented on #46
We are lazy :) if several hour effort of making automatic check is possible then we should do this.

[2012-06-12 17:11] kolmanv commented on #48
Shiray, please check security too. We need one channel to be secured. Alternative is to encrypt content.

[2012-06-12 17:31] kolmanv opened #50 "Design dispatcher + local and remote communication."
Local: Dispatcher needs to know about all local (LAN) services (type+host+port), and their needs.
Remote: Needs to know about remote services (through other dispatcher). Supports any-direction connection.
Enables communication with remote dispatcher, requests and responses + file transfer (maybe not).

[2012-06-15 04:16] kolmanv opened #52 "Move all specs to spec directory."
Move all _spec.rb files under spec directory (not under test).

[2012-06-16 06:30] kolmanv commented on #50
Lets assume we have two points, each has one dispatcher and each has few processes (monitors, indexers).
We should not assume that local LAN is a point.
1) One point has one dispatcher.
2) The dispatcher is the only one that may communicate with outer world.
    That means that he:
      a) Passes requests and responses from outer world.
      b) Copies files remotely.
3) Few processes (not all, o

[2012-06-16 06:32] kolmanv opened #53 "Write protocol between all processes."

[2012-06-16 06:34] kolmanv opened #54 "Simple persistent message queue process."

[2012-06-16 06:36] kolmanv opened #55 "Separate content_server and backup_server to few processes."

[2012-06-16 12:27] AlexeyNemytov opened #56 "Failures running rake on Linux server"
Failures:

  1) FileCopy::ssh_connect should raise error when username not specified
     Failure/Error: expect { FileCopy::ssh_connect(nil, nil, 'a server') }.should raise_error "Undefined username"
       expected Exception with "Undefined username", got #<NameError: uninitialized constant BBFS::FileCopy::Log>
     # ./test/file_copy/copy_spec.rb:12:in `block (2 levels) in module:Spec'

  2) Fil

[2012-06-16 17:00] AlexeyNemytov opened #57 "Bug in lib\content_server.rb"
When executing ruby -Ilib bin/content_server in the master branch on LINUX
The following error received in line 98 of content_server.rb:
content_server.rb:98:in `block in run': uninitialized constant BBFS::ContentServer::Log (NameError)
1. All parameters initialized according to ReadMe file
2. The message itself is unclear : What does  it  mean NameError ?

[2012-06-16 20:05] yarondbb commented on #57
Need to add a require log to lib/content_serve
I have pushed a fix for Genady and Kolman to review
the NameError is saying that BBFS::ContentServer::Log is not defined

[2012-06-17 07:04] kolmanv commented on #56
Yaron, Hi.

Please notice that the logs break the spec tests (uninitialized constant BBFS::FileCopy::Log). Please fix.

[2012-06-17 07:05] kolmanv commented on #57
will check.

[2012-06-24 16:57] genadyp opened #59 "check while reading parameters from yml file"
params.rb: line15:        if not self.instance_variable_get '@' + param_name
am I right that we check here that parameter was already declared?
if it indeed was declared but its default value is nil
then this check mistakenly returns false
and stop further processing of yml file

[2012-06-25 06:51] gshilin commented on #59
That's definitely bad idea to have default value nil.
Nil means "there is no value yet" and hence should be treated as "the variable is known, but not initialized yet".
This way the proper test should be something like: self.instance_variable_get('@' + param_name).nil?

And as I've already told Kolman, it looks like the idea to see parameters as variables causes a very ugly code, both in implement

[2012-06-25 08:46] yarondbb commented on #59
Right. All parameters should have default values. This way the type check would also work when using the Command Line parsing code.
I will take care of the Init sequence soon which will read the params from CLI\File\Code

[2012-07-09 17:07] AlexeyNemytov opened #63 "Rake Failures"
Hello Friend
Took latest version - this is a result while running rake
If this file not in your responsibility please specify the friend responsible :)
General note : after each merge with master please run rake to ensure all test pass
Thanks

Failures:

  1) FileCopy::ssh_connect should raise error when username not specified
     Failure/Error: expect { FileCopy::ssh_connect(nil, nil, 'a server'

[2012-07-10 04:43] bbfsdev commented on #63
Tested this issue in Windowd and Linux. Windows works well, Linux fails. Working to solve.

[2012-07-10 05:08] kolmanv commented on #56
What is the status of this?

[2012-07-10 05:09] kolmanv commented on #63
Done, send pull request to Yaron (https://github.com/kolmanv/bbfs/pull/64).
Please talk with him to merge fixes faster.

Kolman

[2012-07-10 15:05] AlexeyNemytov commented on #63
issue checked on f2 server and closed
Thanks for fast response

[2012-07-10 15:05] #63 closed, assigned to yarondbb

[2012-07-10 17:06] kolmanv commented on #63
How did you check?
Note that the code is not merged yet to master, talk with Yaron.

On Tue, Jul 10, 2012 at 6:05 PM, AlexeyNemytov <
reply@reply.github.com

[2012-07-10 17:34] AlexeyNemytov commented on #63
very simple i executed
git pull https://github.com/kolmanv/bbfs fix_ssh_tests
than run rake on both f1 and f2 =0 zero failures

[2012-07-10 18:28] kolmanv commented on #63
cool.

On Tue, Jul 10, 2012 at 7:34 PM, AlexeyNemytov <
reply@reply.github.com

[2012-07-12 09:18] yarondbb commented on #56
I have added require 'log' for all files which use the log. This is on master. pls metge master to grab this fix into this branch

[2012-07-12 10:05] kolmanv commented on #56
Thanks, you can close the issue.

On Thu, Jul 12, 2012 at 12:18 PM, yarondbb <
reply@reply.github.com

[2012-07-12 11:11] #56 closed, assigned to yarondbb

[2012-07-13 09:20] kolmanv opened #65 "Add path validation for Windows and Linux"
File monitoring should validate all paths it gets and uses in glob.
In case the path is not suitable for the correct OS, it should log error.

[2012-07-13 09:30] itzhak opened #66 "monitor_path_test.rb should be changed"
the old log removed from lib/file_monitoring so the test should be changed.
The name of branch to work is  "remove_file_monitoring_old_log'

[2012-07-13 09:52] kolmanv commented on #65
Look in run_in_background code to see how to determine the OS.

[2012-07-14 17:23] kolmanv commented on #66
Itzhak, please add the test. Gena have too much work.

[2012-07-16 17:35] AlexeyNemytov opened #67 "run_in_background_test failure"
I am not sure there is a bug cause did not succeed to repeat the problem - but check it anyway:)
While taking latest version git pull https://github.com/kolmanv/bbfs master
And then running rake command - the result is:

  1) Failure:
test_functionality(BBFS::TestRunInBackground) [/root/bbfs/test/run_in_background/run_in_background_test.rb:37]:
Exception raised:
<#<RuntimeError: daemon/service goo

[2012-07-16 17:59] AlexeyNemytov opened #68 "Params Failures during test execution"
1. Latest master version check git pull https://github.com/kolmanv/bbfs master
2. Run rake

Failures:

  1) Params::parameter should raise an error when trying to define twice the same parameter
     Failure/Error: expect { Params.string 'only_once', '2nd' ,'' }.should raise_error \
       expected Exception with "Parameter:'only_once', can only be defined oncet.", got #<NoMethodError: undefined m

[2012-07-16 18:13] AlexeyNemytov opened #69 "Unable to open file_monitoring.yml"
File exist in etc directory but unable to be opened!

Step 1 - check if file exists!
[root@f1 bbfs]# cd etc
[root@f1 etc]# ls
file_monitoring.yml
[root@f1 etc]# cat file_monitoring.yml
- path: /content_files
  scan_period : 1
  stable_state: 5

Step 2 - Run content_server
[root@f1 etc]#  ruby -Ilib bin/content_server remote_server=f2.test.kbb1.com backup_username=alexey backup_password=kavana

Res

[2012-07-18 19:20] genadyp commented on #67
What is operating system?

[2012-07-19 11:50] AlexeyNemytov commented on #67
Linux

On Wed, Jul 18, 2012 at 10:20 PM, genadyp <
reply@reply.github.com

[2012-07-19 13:17] genadyp commented on #67
check, please, that daemons library installed.
it should be installed automatically with "bundle install" command

pid directory (~/.bbfs/pids) should be empty

if it still fails, replace, please, lib/run_in_background.rb with the file from apply_background branch.
this version will issue a log file: ~/.bbfs/log/run_in_background_test.rb.log
add somewhere after 'log' require: Params['log_debug_lev

[2012-07-21 09:33] AlexeyNemytov opened #72 "File monitoring error"
Hi Friend
While running latest version on f1
 ruby -Ilib bin/content_server --remote_server=f1.test.kbb1.com --backup_username=alexeyn --backup_password=kavana --content_data_path=~/.bbfs/var/server_content.data

 getting the following Error

/home/alexeyn/bbfs/lib/file_monitoring/file_monitoring.rb:28:in `[]': can't convert String into Integer (TypeError)
        from /home/alexeyn/bbfs/lib/file_

[2012-07-21 10:09] AlexeyNemytov commented on #72
Issue is closed
error was in file_monitoring.yml

[2012-07-21 10:09] #72 closed, assigned to kolmanv

[2012-07-22 13:30] #53 closed, assigned to kolmanv

[2012-07-23 13:24] #69 closed, assigned to yarondbb

[2012-07-27 08:07] kolmanv commented on #68
Fixed (fix_ssh_tests).

[2012-07-27 08:07] #68 closed, assigned to yarondbb

[2012-07-27 08:08] kolmanv commented on #59
Not relevant, params system rebuilt.

[2012-07-27 08:08] #59 closed, assigned to yarondbb

[2012-07-27 08:09] kolmanv commented on #57
Fixed.

[2012-07-27 08:09] #57 closed, assigned to yarondbb

[2012-07-27 08:09] kolmanv commented on #52
Not feasible.

[2012-07-27 08:09] #52 closed, assigned to yarondbb

[2012-07-27 08:10] kolmanv commented on #46
Lets use RubyMine for now as Grisha suggests.

[2012-07-27 08:10] #46 closed, assigned to yarondbb

[2012-07-27 08:11] kolmanv commented on #48
Volodia any news?

[2012-07-28 18:12] AlexeyNemytov opened #77 "No notification for wrong params usage"
Example for wrong usage
C:\Ruby192\bbfs>ruby -Ilib bin/file_utils generate_files
No warning - error or notification - program just ends

Example for correct usage
C:\Ruby192\bbfs>ruby -Ilib bin/file_utils --command=generate_files --log_write_t
o_console=true --log_debug_level=3

[2012-07-30 05:36] #49 closed, assigned to slavapa

[2012-08-07 14:40] yarondbb commented on #77
Why is it an error usage?

[2012-08-07 14:46] yarondbb commented on #55
First seperation has been done (File monitoring) in branch: pq_seperate_threads
since then PQ has been enhanced to be Bi-directional. and we all examine the new Net\IO\Head\body architecture.

should I continue? Seems this issue can be colsed..

[2012-08-07 14:47] yarondbb commented on #43
Done.

[2012-08-07 14:47] #43 closed, assigned to yarondbb

[2012-08-08 08:00] kolmanv commented on #77
Because the user expects some behavior (he does not know he has spelling
mistake). So the program, when parameter not defined or wrong syntax is
used should alert, at least print info/warning message. Maybe error and
fail totally (better).

On Tue, Aug 7, 2012 at 5:40 PM, yarondbb notifications@github.com wrote:

[2012-08-09 14:32] genadyp commented on #67
Do you still encounter this problem?
If now let's close it meanwhile.

[2012-08-10 08:57] AlexeyNemytov opened #80 "Release port after run"
Release port after system crash - port remains in use

/usr/local/rvm/rubies/ruby-1.9.2-p320/lib/ruby/1.9.1/socket.rb:136:in `bind': Address already in use - bind(2) (Errno::EADDRINUSE)

[2012-08-10 16:59] yarondbb commented on #80
Root cuase was due to ctrl-z in linux which moved the execution to the background and this is why the port was used.

[2012-08-10 16:59] #80 closed, assigned to kolmanv

[2012-08-11 06:15] AlexeyNemytov commented on #67
Issue was not observed anymore

[2012-08-11 06:15] #67 closed, assigned to genadyp

[2012-08-11 09:47] itzhak opened #81 "backup_destination_folder in content_server set for backup_server where to copy files received from_content_server"
backup_destination_folder passed as argument to content_server set to backup server where to copy files received from content. And when we try to pass backup_destination_folder argument to backup_server there is no effect on backup server.
But from user point it is not right.
As user We expect that We can set to backup_server where to save files received from content_server.

[2012-08-12 03:23] kolmanv commented on #67
Please close it.

On Sat, Aug 11, 2012 at 8:15 AM, AlexeyNemytov notifications@github.comwrote:

[2012-08-12 03:24] kolmanv commented on #80
Why didn't you close this Issue?

On Fri, Aug 10, 2012 at 6:59 PM, yarondbb notifications@github.com wrote:

[2012-08-14 09:18] #81 closed, assigned to yarondbb

[2012-08-14 09:18] kolmanv commented on #81
Checked this today. No need to set backup_destination_folder in content_server, only at backup server.

[2012-10-22 11:00] vshiray opened #85 "Cannot start backup_server"
[vshiray@f2 ~]$ backup_server --remote_server=10.100.5.106

/usr/local/rvm/rubies/ruby-1.9.2-p320/lib/ruby/1.9.1/fileutils.rb:243:in `mkdir': Permission denied - /remote (Errno::EACCES)
        from /usr/local/rvm/rubies/ruby-1.9.2-p320/lib/ruby/1.9.1/fileutils.rb:243:in`fu_mkdir'
        from /usr/local/rvm/rubies/ruby-1.9.2-p320/lib/ruby/1.9.1/fileutils.rb:217:in `block (2 levels) in mkdir_p'

[2012-10-30 02:12] kolmanv commented on #85
This is a simple problem.
The backup destination folder is not defined, that is why process tries to write locally it will try to write to area without permissions.
Should add better error handling + alert when mandatory flags are not set.

[2013-02-28 13:38] AlexeyNemytov opened #95 "bbfs / lib / file_monitoring / file_monitoring.rb"
no comments inside the file
no description of what each function does
pq parameter is not a meaningfull name - hard to understand what is it

https://github.com/kolmanv/bbfs/blob/master/lib/file_monitoring/file_monitoring.rb

[2013-03-08 13:10] genadyp commented on #95
Done

[2013-03-08 13:10] #95 closed, assigned to kolmanv

[2013-03-24 16:10] kolmanv opened #96 "Fix logging input for process monitoring."
After we changed logging to log4r, process monitoring does not receive logs as input.
There are two TODO, one in content_server #75 and one in backup_server #102.

[2013-03-24 16:11] #85 closed, assigned to nobody

[2013-03-24 16:11] kolmanv commented on #85
Fixed.

[2013-03-24 17:07] kolmanv opened #97 "Change logging to log4r"
In log.rb, delete all content and replace the init, info, warning, debug1/2/3, error methods to invoke log4r methods. That way all other places should stay as they are now.

Init:
def create_log4r(server_name)
  $log4r = Log4r::Logger.new 'BBFS log'
  $log4r.trace = true

  formatter = Log4r::PatternFormatter.new(:pattern => "[%l] %d #{self.class} %t :: %m")

  stdout_outputtter = Log4r::Outputter

[2013-03-24 17:11] kolmanv opened #98 "Wrap run_backup_server and run_content_server with general exception handling"
Inside those two functions create a begin/end block with two rescues:
1) Signals (such as ctrl+c) - should stop the process/job.
2) Exceptions, which come from inside, should be logged and send via email (log4r emailoutputter).
3) Example below also sugests retry mechanism, such that if some error happened once, the server will restart several times, then will exit.

def run_backup_server(retries=

[2013-03-24 17:13] kolmanv opened #99 "Clean all non relevant issues"

[2013-03-24 17:15] kolmanv commented on #99
Go over all issues and close old ones.

[2013-03-25 10:31] kolmanv opened #100 "Backup server is consuming 100% CPU"
Probably one of the threads have some kind of busy wait loop.
Investigate and solve.
One way to investigate is to turn down each thread (module) and see whether the behavior changes.

[2013-03-25 11:40] kolmanv commented on #98
Retry is not critical, so don't implement it as first step.

[2013-03-25 11:47] kolmanv commented on #100
The symptom is that logs date is stale (delayed).

[2013-03-29 07:46] genadyp commented on #98
commit: https://github.com/kolmanv/bbfs/commit/64f3cbbfd365457f0c09f629fe962a6ae9924622

retries doesn't work as smooth as expected,
thus set to 1.

[2013-03-29 10:35] kolmanv commented on #98
ack.

On Fri, Mar 29, 2013 at 10:46 AM, genadyp notifications@github.com wrote:

[2013-03-31 15:08] genadyp opened #103 "ContentData module level methods"
To move module level methods from lib/content_data/content_data.rb to lib/content_data.rb
(When master branch will be stable)

[2013-04-02 03:51] kolmanv opened #104 "Develop + Run tests + Release vith gems"
Write short cheat-sheet on how to work with gems through the release cycle process.
Use 'rmv gemset' well. Each release should have it's own gemset?
How do we name/number each release?

[2013-04-05 06:41] kolmanv opened #105 "Add support for password in testing server ssh."
Relevant code:
https://github.com/kolmanv/bbfs/blob/master/lib/testing_server/testing_server.rb#L136
Alternative:
http://www.linuxproblem.org/art_9.html

[2013-04-05 07:06] kolmanv opened #106 "Go over all Grisha comments and fix code (round_clock_testing)"
Relevant pull request:
https://github.com/kolmanv/bbfs/pull/94

[2013-04-05 07:30] kolmanv commented on #100
After changing configuration of file monitoring to monitor directory not once per second but once in 10 seconds, the CPU consumption dropped to less then 5%

[2013-04-05 07:30] #77 closed, assigned to yarondbb

[2013-04-05 07:31] kolmanv opened #107 "Fix testing server fail on sending email"
Once the email server is not responding, the testing server fails instead of try to send email several times and then just skip email sending with relevant logging.

Here is the failing exception:
[INFO] 2013-04-04 20:21:26 Module /home/kolmanv/bbfs/lib/testing_server/testing_server.rb:97:in `run_testing_server' :: Validation result: true
[INFO] 2013-04-04 20:21:26 Module /home/kolmanv/bbfs/lib/te

[2013-04-05 07:59] AlexeyNemytov opened #108 "Documentation for the first release"
1. Specification Document
2. Release Description
3. Test report

[2013-04-12 10:05] kolmanv opened #109 "Out of space exceptions while logging (does not send email)"
This bug have two action items:
1) Fix logging, such that when there is no space left, send email anyway.
2) Catch no disk space in the proper way in testing server.

Full log:
[INFO] 2013-04-10 05:13:33 Module /home/kolmanv/bbfs/lib/testing_server/testing_server.rb:90:in `run_testing_ser
: /home/kolmanv/.bbfs/var/content.data to /home/kolmanv/.bbfs/var/remote_content.data
[ERROR] 2013-04-10 05:13

[2013-04-12 11:30] vshiray commented on #108
Did you get a feedback about the documentation from Yaron, Gena or Kolman ?

[2013-04-12 13:21] AlexeyNemytov commented on #108
yes will update accordingly

On Fri, Apr 12, 2013 at 2:30 PM, vshiray notifications@github.com wrote:

[2013-04-15 04:41] AlexeyNemytov opened #110 "Parameters must not be so long"
Parameters has long names - have to be changed
For example:
--log_param_number_of_mega_bytes_
stored_before_flush

--log_param_max_elapsed_time_
in_seconds_from_last_flush

[2013-04-15 14:30] genadyp commented on #98
Kolman, could you verify and close it?

[2013-04-15 15:23] genadyp opened #111 "Gem dependancies of sub-gems"
According to release notes:
The release should depend on specific gem versions. We should validate that sub-gems will use same gems as content_server uses.

[2013-04-15 16:06] AlexeyNemytov commented on #104
How is it going on?

[2013-04-16 15:50] yarondbb commented on #97
done. Both in release candidate brnach round_clock_testing and in master

[2013-04-16 15:50] #97 closed, assigned to nobody

[2013-04-16 15:52] yarondbb opened #112 "Bakcup server saves content data file even if it does not change"

[2013-04-16 17:19] kolmanv opened #113 "Run testing server for master (new content data)"
Make branch such that new changes will not effect this release.

[2013-04-16 17:21] kolmanv opened #114 "Make release for branch - round clock testing"
1) Update gems.
2) Set proper label/tag in git.

[2013-04-16 17:21] kolmanv opened #115 "Write documentation for file copy protocols"

[2013-04-16 17:24] kolmanv commented on #66
Obsolete

[2013-04-16 17:24] #66 closed, assigned to nobody

[2013-04-16 17:25] #55 closed, assigned to yarondbb

[2013-04-16 17:26] kolmanv commented on #50
Obsolete.

[2013-04-16 17:26] #50 closed, assigned to genadyp

[2013-04-16 17:26] kolmanv commented on #48
Obsolete.

[2013-04-16 17:26] #48 closed, assigned to vshiray

[2013-04-16 17:26] kolmanv commented on #47
Done.

[2013-04-16 17:26] #47 closed, assigned to AlexeyNemytov

[2013-04-16 17:29] kolmanv commented on #104
Added the release process in wiki page.
Development + testing done.
Opened new issue for releasing 'round_clock_testing' branch.

[2013-04-16 17:29] #104 closed, assigned to kolmanv

[2013-04-16 17:30] kolmanv commented on #110
For now, not highest priority, unassigning.

[2013-04-17 12:30] kolmanv commented on #98
Verified.

[2013-04-17 12:30] #98 closed, assigned to kolmanv

[2013-04-17 12:33] kolmanv commented on #112
For now not critical, we be handled in the following milestones.

[2013-04-19 08:51] kolmanv commented on #108
Depends on: Documentation for file copy protocol, issue #115

[2013-04-19 08:55] kolmanv opened #116 "Documentation Wiki pages"
1) Create wiki page for Documentation.
2) Move all links to googledocs from rndnorth to wiki page.

[2013-04-19 09:14] kolmanv commented on #114
Blocked by issue #111 (gen dependencies check).

[2013-04-19 09:17] kolmanv opened #117 "Give Yaron permissions to publish gems"
Blockin #114 (release first version).

[2013-04-19 09:27] kolmanv opened #118 "Write documentation for log gem"

[2013-04-19 09:28] kolmanv commented on #118
Blocking #108

[2013-04-19 09:28] kolmanv opened #119 "Documentation for params gem"
Blocking #108

[2013-04-19 09:35] kolmanv commented on #113
Yaron is blocked. Help him to set up proper ssh on testing server.

[2013-04-19 18:55] AlexeyNemytov commented on #116
https://github.com/bbfsdev/bbfs/wiki/Documentation

[2013-04-20 09:51] genadyp commented on #111
Three gems:
- master depends on sub1 and sub2.
- sub1 depends on sub2

Following experiments were done:
1. master gem depends on sub1(0.0.1), sub2(0.0.1). sub1 depends on sub2(0.0.2).
   Order of requirements in master:
   require 'bbfs_sub1'
   require 'bbfs_sub2'
   Output:

2. Same as 1. but with different order of requirements in master:
   require 'bbfs_sub2'
   require 'bbfs_sub1'
   Output:

[2013-04-20 10:06] genadyp commented on #111
@kolmanv , verify it, please.
May be @vshiray also need to verify it?
Could we, in general, ask @vshiray  for review?
@yarondbb , looks that we can continue with gems as planned.

[2013-04-20 10:53] genadyp opened #120 "Test Cases"
To decide whether [test cases](https://docs.google.com/spreadsheet/ccc?key=0AroeQERZlbQ1dHBkMU1QYm1qWW1Ya05UdmlzcGxCMHc#gid=4) will be part of workflow and if so what is the form it will be.

[2013-04-20 10:55] genadyp opened #121 "file_indexing test revision"
[file_indexing test](https://github.com/bbfsdev/bbfs/tree/master/test/file_indexing) uses a real files during the test. Think about replacing it by StringIO or mocks or something else.

[2013-04-20 15:11] AlexeyNemytov commented on #119
This isssue can be closed
item 2.4 in  https://github.com/bbfsdev/bbfs/wiki/Documentation

[2013-04-22 16:37] AlexeyNemytov commented on #111
@genadyp thanks

[2013-04-23 05:41] kolmanv commented on #117
I gave permissions to bbfsdev to the following gems:
file_monitoring
content_data
content_server
file_copy
file_indexing
params
log
networking
run_in_background

via the following command:
gem owner run_in_background --add bbfsdev@gmail.com

file_utils - don't belong to us. What should we do with it?
validations - Gena please add bbfsdev@

Yaron when you release, please do this via bbfsdev@ userna

[2013-04-23 05:43] kolmanv commented on #117
Yaron please sing in for https://rubygems.org

[2013-04-23 05:49] kolmanv commented on #119
Great work. Thanks :)

[2013-04-23 05:49] #119 closed, assigned to yarondbb

[2013-04-23 09:50] genadyp commented on #117
user bbfsdev was added as validations gem collaborator

Owners for gem: validations
- bbfsdev@gmail.com
- nukegluk@gmail.com

[2013-04-23 09:52] genadyp commented on #117
Yaron (@yarondbb), do you have permissions for all gems?

[2013-04-23 10:06] genadyp commented on #117
Regarding file_utils.
It looks that meanwhile we don't have any gem depends on file_utils:

[code]

So it doesn't block the release.

[2013-04-23 11:23] kolmanv commented on #117
So it is not part of the release.
We can switch to other name for the gem.

[2013-04-23 11:25] kolmanv opened #122 "file_utils gem name is taken"
The gem name is taken, consider changing it's name to some other free name.
More details here: #117

[2013-04-23 11:26] kolmanv commented on #117
Closing the issue, Yaron you are good to go with the release.

[2013-04-23 11:26] #117 closed, assigned to yarondbb

[2013-04-23 11:28] kolmanv commented on #111
Great, closing issue.

[2013-04-23 11:28] #111 closed, assigned to kolmanv

[2013-04-25 06:45] genadyp commented on #114
Minor remark:
In all gemspecs need to replace a homepage:
s.homepage    = 'http://github.com/kolmanv/bbfs'
to
s.homepage    = 'http://github.com/bbfsdev/bbfs'
Also think about replacing contact mail and owner.

[2013-04-25 11:47] yarondbb commented on #114
New branch
      from: round clock testing
       to:   round_clock_testing_release_1_0_0_win - ignore the win (it is valid now for both windows and unix)
1. unpdate all s.homepage = 'http://github.com/bbfsdev/bbfs'
1. updated all modules revisions to 1.0.0
2. Build and installed all gems
3. Executed - content server using gems only. Execution works OK. @kolmanv , maybe we want to test round clock

[2013-04-25 11:49] yarondbb opened #123 "Fail to push commites from Linux to remote tracking branch"
I cannot push from Linux to remote tracking branch.. I get some error (This is the first time I try to do this).
Maybe @genadyp could help me?

[2013-04-25 11:53] yarondbb commented on #114
1. @kolmanv , pls push the gems. and Start to round clock test the gems?
2. The issue is not urgent. I have opend new issue #123 for this.
3. Also, I have found out that, when install content_server gem, other dependent gems are not installed with it.
   The root cuase is the run time dependencies used in it..
   Currently I wrote a script to install all the gems and content sergver gem as the las

[2013-04-25 13:02] kolmanv commented on #114
The third point is not clear. May be a problem. Lets discuss this next week.

[2013-04-25 21:17] yarondbb commented on #114
I have added dependencies in order for 'gem install content_server-1.0.0.gem' will install all necessary gems to execute content server. Changes pushed to branch.
No need for the bundler.

[2013-04-28 07:39] kolmanv commented on #114
What branch you pushed the changes? master? round_clock_testing?
Should be both.
Yaron have you marked this branch as release 1.0.0 in github?

[2013-04-29 06:03] kolmanv commented on #114
@yarondbb (Yaron), what is the status of your task, are you blocked? Can you finish it? What are your dependencies?

[2013-04-30 06:10] kolmanv commented on #108
Blocked by other issues, unassigning due to non-activity..

[2013-05-01 15:42] AlexeyNemytov commented on #114
@yarondbb
@kolmanv
Firiends I tried to install version 1.0.0 on f1
This is the result:

-bash-4.1$ gem install content_server
Fetching: content_server-0.0.10.gem (100%)
Successfully installed content_server-0.0.10
1 gem installed
Installing ri documentation for content_server-0.0.10...
Installing RDoc documentation for content_server-0.0.10...

[2013-05-01 17:35] yarondbb commented on #114
Try now :)
I have succesfully pushed the gems from kolman user
Task is done from my side
Kolman pls verify:
Uninstall all gems - type (linux):
    for x in `gem list --no-versions`; do gem uninstall $x -a -x -I; done
 Install content server - Type:
    gem install content_server

[2013-05-03 06:38] kolmanv commented on #114
Alexey, please validate and close the bug.

[2013-05-03 06:38] kolmanv commented on #114
@AlexeyNemytov

[2013-05-03 06:40] kolmanv commented on #115
@kolmanv
@genadyp
Please talk to Kolman for details.

[2013-05-03 06:43] kolmanv commented on #118
@yarondbb

[2013-05-03 06:44] kolmanv commented on #118
Please add link to examples (latest). Update example.

[2013-05-03 06:46] kolmanv opened #124 "Should content_server gem depend on validations gem?"

[2013-05-03 09:46] kolmanv opened #125 "Create release notes + check example files are ok."
@yarondbb @AlexeyNemytov

Update examples files to be synced with the release.
Write release notes:
1) How to install.
2) How to run.

blocked by #114.

Alexey, please help Yaron if he has trouble with this. If you want to may take responsibility for this task.

After this task is done, we send email to @vshiray to finalize the release.

[2013-05-04 06:53] AlexeyNemytov opened #126 "Could not run content_server 1.0.0"
@yarondbb  @kolmanv
Looks like some basic commands to run the system were changed
I ran --help and could not find --remote_server
I found --content_server_hostname //String, default:
        IP or DNS of backup server.

Could not find  user name and password commands?

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
content_server --remote_server=f2.test.kbb1.com --backup_username

[2013-05-04 07:01] AlexeyNemytov opened #127 "Unable to run Rake file for version"
No rake file exist for the release content_server 1.0.0
@kolmanv  @yarondbb

[2013-05-04 09:59] yarondbb commented on #126
Flags have changed
Pls see examples:
  https://github.com/bbfsdev/bbfs/blob/master/examples/config_backup_server.yml
  https://github.com/bbfsdev/bbfs/blob/master/examples/config_content_server.yml
Also, for backup server, I put this parameter value:
  backup_check_delay: 120 #this works for me fine!
(this parameter controlls the seconds to wait to ask the server for new contents. the default it 5

[2013-05-04 10:01] yarondbb commented on #127
Do we need speciall rake file for the release @kolmanv ?
You can type:
  gem install content_server
this installs ALL required gems to execute content server. Both BBFS gems and infrastructure gems such as Algorithms and net.

[2013-05-04 10:19] yarondbb commented on #125
Do we have documentation to explain backup server files structure? (bacup.data, backup romte dir, tmp dir, backup files destination(which is the monitoring path in our convention) ?

[2013-05-04 10:19] yarondbb commented on #125
@AlexeyNemytov , Do we have documentation to explain backup server files structure? (bacup.data, backup romte dir, tmp dir, backup files destination(which is the monitoring path in our convention) ?

[2013-05-04 10:29] AlexeyNemytov commented on #126
@yarondbb
Thanks Friend!
It runs Ok locally.
I need to send files to f2  wich is protected by password and username
What values to be used to define it

[2013-05-04 10:34] AlexeyNemytov commented on #125
backup server generally explained in 1.1 System Spec
https://github.com/bbfsdev/bbfs/wiki/Documentation
you may add there

[2013-05-04 10:36] #126 closed, assigned to yarondbb

[2013-05-04 11:03] kolmanv commented on #127
rake file is not needed for the release (for the user). It is needed for our development and release process. But the users don't ever use it.

[2013-05-04 11:04] kolmanv commented on #127
This is a cleanup issues after we release.

[2013-05-04 11:06] kolmanv commented on #126
@genadyp @vshiray
Great work guys! The issue dynamics works.

[2013-05-04 11:07] kolmanv commented on #114
@AlexeyNemytov Is this issue closed?

[2013-05-04 13:10] AlexeyNemytov commented on #114
issue validated and closed

[2013-05-04 13:10] #114 closed, assigned to AlexeyNemytov

[2013-05-04 13:10] AlexeyNemytov commented on #127
ok

[2013-05-04 13:12] AlexeyNemytov commented on #125
need to be updated example of testing_server.yml https://github.com/bbfsdev/bbfs/blob/master/examples/testing_server.yml

also need basic instructions how to use testing server

[2013-05-04 14:55] yarondbb commented on #123
I have pushed the gems from @kolmanv user

[2013-05-04 14:55] #123 closed, assigned to kolmanv

[2013-05-04 17:05] yarondbb commented on #125
@genadyp , @kolmanv , @AlexeyNemytov  Pls review release notes:

## BBFS version 1.1.0 Release notes

## Backup system, general workflow:
1. Content server monitors a set of local directories.
   1.a  The files in those  directories are indexed (calculating their SHA1).
   1.b  The indexed content is stored in a file (server content data).
   1.c  When asked content data is sent to backup server

[2013-05-04 18:11] kolmanv commented on #127
I suggest leaving this as open bug, to add rake as needed.

[2013-05-05 03:46] kolmanv opened #128 "Validate all collaborators can push gems to RubyGems"

[2013-05-05 03:52] kolmanv commented on #125
I have copied the document to googledocs, please comment/edit there.
[link to document](https://docs.google.com/document/d/1qFMYTv-iZFA1sZOBLxBjCbSPIHwtCuITl_8u_QW936I/edit)

[2013-05-05 08:05] kolmanv commented on #125
Reviewing the document...

[2013-05-05 11:01] kolmanv opened #129 "Run 24/7 test for master"
Mark git repository and at that point run 24/7 test for one week to validate new content data is good.

[2013-05-07 10:27] #116 closed, assigned to AlexeyNemytov

[2013-05-07 10:28] AlexeyNemytov opened #130 "Need Brief description on testing server"
Need brief description how to use testing server

[2013-05-07 12:14] kolmanv commented on #130
Will update tomorrow.

[2013-05-07 12:14] kolmanv commented on #115
Gena, what is the status?

[2013-05-07 12:14] kolmanv commented on #115
Maybe anassign?

[2013-05-07 12:15] kolmanv commented on #118
@yarondbb
Yaron, what is the status? Maybe unassign?

[2013-05-07 12:15] kolmanv commented on #125
Document is ready. Please go ahead with the release.

[2013-05-08 17:31] genadyp commented on #115
I have a time to work only on Fridays. Get the mission last Friday will continue this Friday.

[2013-05-10 09:53] kolmanv commented on #125
@yarondbb Is this issue may be closed?

[2013-05-10 10:08] kolmanv commented on #130
In order to run testing server you will need to enable ssh without password from testing servers.
Meaning you just type ssh username@test.server.one from test.server.two and no password is needed.
In order to do that follow [those instructions](http://www.linuxproblem.org/art_9.html)
You can always add password to the configuration file and ignore the step above.

To run testing server, please run

[2013-05-10 10:11] kolmanv commented on #129
@AlexeyNemytov please consider if you have time to do those two tasks within the next week.
You can do this issue with task #130, as they are related.

[2013-05-10 10:12] kolmanv commented on #113
Duplicate of #129. Closing.

[2013-05-10 10:12] #113 closed, assigned to nobody

[2013-05-10 12:01] AlexeyNemytov commented on #130
ok:)

[2013-05-10 12:11] AlexeyNemytov commented on #129
@kolmanv
Will take it

[2013-05-10 13:55] genadyp commented on #115
Status: Learning protocols

[2013-05-11 06:11] kolmanv opened #131 "Faster releases with smaller changes."
How to make us release twice a week?
1) Automation:
- [ ] Push button Master/Bakcup servers.
- [ ] Push button Testing server.
- [ ] Wizard for configuration files.

2) Isolation, i.e., easy to run many Testing/Master/Backup setups.
- [ ] Files
- [ ] Ports
- [ ] Easy to manage different runs.

3) Management
- [ ] Divide tasks to small less dependent chunks.

Consider generating a milestone instead

[2013-05-11 06:13] kolmanv commented on #131
@yarondbb @genadyp @AlexeyNemytov @vshiray
What do you think? Worth the effort? Is this needed?

[2013-05-11 10:15] AlexeyNemytov commented on #130
@kolmanv
File utils not available
file_utils --command=generate_files --conf=/home/alexeyn/.bbfs/etc/file_generator.yml
-bash: file_utils: command not found

[2013-05-11 10:35] AlexeyNemytov opened #132 "Bad configuration files examples"
content_server --conf_file=/home/alexeyn/.bbfs/etc/config_content_server.yml --bg_command=start

[ERROR] [2013-05-11 10:31:05] [content_server:28:Exception happened in content_server server: RuntimeError:before using parameter:'log_param_max_elapsed_time_in_seconds_from_last_flush', it should first be defined through Param module methods:Params.string, Params.path, Params.integer, Params.float or

[2013-05-11 10:53] AlexeyNemytov commented on #131
Definitely yes

On Sat, May 11, 2013 at 9:13 AM, kolmanv notifications@github.com wrote:

[2013-05-11 12:29] kolmanv commented on #132
The configuration file is old, i.e., before we moved to log4r. This flag does not exists any more.
The configuration files should be updated. Just delete this flag.

[2013-05-11 12:29] kolmanv commented on #132
@AlexeyNemytov Can you handle this?

[2013-05-11 12:30] kolmanv commented on #132
There are probably more "bad" flags.
Use configuration examples from our [release notes](https://docs.google.com/document/d/1qFMYTv-iZFA1sZOBLxBjCbSPIHwtCuITl_8u_QW936I/edit)

[2013-05-11 12:33] kolmanv commented on #130
Did you try installing the gem?
gem install file_utils?
You can also build the gem from source and then build and install it locally
bbfs> gem build file_utils.gemspec
bbfs> gem install file_utils.0.0.9.......

[2013-05-14 13:51] AlexeyNemytov opened #133 "Run in background fail"
Run in background command is not avvailble for this release

[2013-05-14 14:01] AlexeyNemytov opened #134 "Testing Server Gem"
Build Gem for testing server

[2013-05-14 14:01] AlexeyNemytov commented on #134
gem build testing_server.gemspec
Invalid gemspec in [testing_server.gemspec]: uninitialized constant Gem::Specification::FileCopy
ERROR:  Error loading gemspec. Aborting.

[2013-05-14 14:03] AlexeyNemytov opened #135 "Testing Server Error"
ruby -Ilib bin/testing_server --conf_file=/home/alexeyn/.bbfs/etc/testing_server.yml

[code]

[2013-05-14 18:58] AlexeyNemytov commented on #135
i modified testing_server.yml localy to match new params but it did not help

[2013-05-15 07:44] AlexeyNemytov commented on #129
@kolmanv @yarondbb @genadyp
Content and backup server are running f1 and f2
File utils generating files (run from f1)
Files are being copied
basically test is running 24/7 now

---

Couple of "Big Buts":
1.  Testing server is not working
2.  bg_command not working (so running from tmux)
3.  Not enough space in f2  - when copied 28Mb - it says disk quota exceeded

---

Please monitor bbfsdev@gmail.

[2013-05-15 08:56] genadyp commented on #133
@AlexeyNemytov
Could you add more details?
- Exact run command
- Error Backtrace

[2013-05-15 10:20] kolmanv commented on #135
Alexey, please note, you have to add quotes before and after you add code:
With quotes:

[code]

Without quotes
`block in read_yml_params'

Press to edit this comment to see the syntax.

[2013-05-15 10:28] kolmanv commented on #135
The error says that some parameter is not defined and you are trying to use it.
testing_server:11 says:
The error says: Parameter:'# Copy
And the code is: raise("Parameter:'#{name}' has not be
That means the you have problem with the YAML file, **please attach it**.
Seems like YAML things "# Copy..." is name of parameter... while it is a comment.

[2013-05-15 10:33] kolmanv commented on #134
Change FileCopy:: with TesingServer (see here: https://github.com/bbfsdev/bbfs/blob/master/lib/testing_server/version.rb)

[2013-05-15 10:38] kolmanv commented on #125
@yarondbb Is this issue may be closed?

[2013-05-15 10:38] kolmanv commented on #118
@yarondbb Is this issue may be closed?

[2013-05-15 10:38] kolmanv commented on #115
@yarondbb Is this issue may be closed?

[2013-05-15 10:38] kolmanv commented on #115
@genadyp  Is this issue may be closed?

[2013-05-15 10:39] kolmanv commented on #108
Closing as duplicate with other issues.

[2013-05-15 10:39] #108 closed, assigned to nobody

[2013-05-15 10:40] kolmanv commented on #129
Please check how much space is available in f2. Please contact Shiray and Kostya about this. Ask them to allocate few GB for testings.
Other issues are commented #135 and  #133

[2013-05-15 12:59] AlexeyNemytov commented on #133
bg_command=start
please run it with latest release

[2013-05-15 13:01] AlexeyNemytov commented on #135
[code]

_Added ``` ```_ around the configuration file.

[2013-05-15 13:09] AlexeyNemytov opened #136 "No email notification on Disk Quota exceeded error"
No email notification received on error:
"/usr/local/rvm/gems/ruby-1.9.2-p320/gems/log4r-1.1.10/lib/log4r/outputter/iooutpsh': Disk quota exceeded (Errno::EDQUOT)
        from /usr/local/rvm/gems/ruby-1.9.2-p320/gems/log4r-1.1.10/lib/log4r/outrb:43:in `write'
        from /usr/local/rvm/gems/ruby-1.9.2-p320/gems/log4r-1.1.10/lib/log4r/out:110:in`block in canonical_log'
        from /usr/local/rvm/

[2013-05-15 13:33] AlexeyNemytov opened #137 "Need Quota for f2"
Required quota for f2:
 -bash-4.1$ df
Filesystem           1K-blocks      Used   Available    Use% Mounted on
/dev/simfs            31457280  31448096      9184     100% /
none                   1048576         4            1048572   1% /dev

[2013-05-15 23:10] yarondbb commented on #125
yes

[2013-05-15 23:10] #125 closed, assigned to yarondbb

[2013-05-16 09:17] kolmanv commented on #136
Good insight. Thanks.

[2013-05-16 09:20] kolmanv commented on #136
When you copy/paste code or logs add ``` ``` around the code

[2013-05-16 09:21] kolmanv commented on #136
See below:

[code]

[2013-05-16 09:51] kolmanv commented on #137
[root@f2 log]# ls -l /home/kolmanv/.bbfs/log/
total 23882072
-rw-rw-r-- 1 kolmanv kolmanv    12253909 Apr 10 04:55 backup_file_monitoring.log
-rw-rw-r-- 1 kolmanv kolmanv 24441790464 Apr 10 04:56 backup_server.log
-rw-rw-r-- 1 kolmanv kolmanv     1175552 Apr 10 05:13 testing_server.log.log4r

@AlexeyNemytov I have freed 2GB of space. Please check and close this issue.

[2013-05-17 08:04] AlexeyNemytov commented on #137
Closed Thanks

[2013-05-17 08:04] #137 closed, assigned to vshiray

[2013-05-17 08:08] AlexeyNemytov commented on #129
@kolmanv @genadyp @yarondbb @vshiray
Content and backup are running from tmux
File generation is on - to generate files every hour
Files being copied (meantime :)) )

[2013-05-17 18:04] bbfsdev commented on #129
Great work. Unassigning for now. When testing_server will be fixed, need to run testing server as needed.

[2013-05-17 18:07] bbfsdev commented on #133
Gena, please check this issue. What seems to be the problem. Assigning to you as we talked today morning.

[2013-05-17 18:07] bbfsdev commented on #129
Blocked by #135

[2013-05-17 18:17] genadyp commented on #133
@AlexeyNemytov
Could you give an additional data, please?
What is a branch?
What is a config file?
Thank you :)

[2013-05-18 06:50] AlexeyNemytov commented on #133
@genadyp  please do the following
1. Install release using [1.0.0 release notes](https://docs.google.com/document/d/1qFMYTv-iZFA1sZOBLxBjCbSPIHwtCuITl_8u_QW936I/edit)..
2. Run:  content_server --conf_file=path_to_configuration_file --bg_coomand = start

[2013-05-18 07:03] AlexeyNemytov opened #138 "Backup server does not transfer files from content_server"
@kolmanv @yarondbb @genadyp
1. Backup Server - status running OK - no errors
2. Content Server - status running OK - no errors
3. Files are created by file_generator
4. Yesterday 17.05 19:06 Jerusalem time was the last time file was transfered fro content to backup
Logs are attached
a. [backup.data](https://docs.google.com/file/d/0B9ar2vWqP86Va0dvb2tSMlhMdHM/edit?usp=sharing).
b. [backup_server.lo

[2013-05-18 08:16] bbfsdev commented on #138
Please attach configuration files and log of content server.
Then reassign back to me.

[2013-05-18 11:22] AlexeyNemytov commented on #138
@kolmanv
c.[content_server.log4r (rar)](https://docs.google.com/file/d/0B9ar2vWqP86VRGRtREdYMGl2ak0/edit?usp=sharing)
d.[config_backup_server.yml](https://docs.google.com/file/d/0B9ar2vWqP86VRDRxSjJNTW93UGc/edit?usp=sharing)
e. [config_content_server.yml](https://docs.google.com/file/d/0B9ar2vWqP86VcHdDWUhrN203WE0/edit?usp=sharing)

[2013-05-18 15:07] yarondbb commented on #118
I am working on it. Will coplete soon (Probalby Monday)

[2013-05-18 15:18] yarondbb commented on #135
Looks like the first 2 lines (until the ':' char) in the ymal file are excidently parsed as parameter name.. not sure why..
I had issues with yml file while copying text from one program to another. It seems that the # char is not recognized.
Try to copy the text first to some trusted editor (RubyMine?) then to the place were you run it. Or other copy..

[2013-05-18 16:11] AlexeyNemytov commented on #135
Strange did it notepad++

On Sat, May 18, 2013 at 6:18 PM, yarondbb notifications@github.com wrote:

[2013-05-18 17:26] genadyp commented on #135
@AlexeyNemytov
@yarondbb
@kolmanv
If you are prepare yml config file on windows and then using it on linux
i suggest to process it on linux with following command:

it removes windows end-of-line, i already had a number of problems with it.

[2013-05-18 18:31] genadyp commented on #115
@kolmanv
Kolman, review, please
[FileCopy Protocols](https://docs.google.com/document/d/1KFQLjLezrnveU2d9BG5LwYEEwcj-Vr8h71c14qiDxVc/edit#)

[2013-05-19 05:08] yarondbb commented on #138
Looking on end of backup.data log:

   Backup sends ping requests and get latest content server data.
   No files are requested.
There can be reasons for this:
   No difference is performed in backup server
   Difference finds no new contnets - this might be if random values of new files is small?

Few questions:
1. What about the testing server mechanizm? Does is shows a difference bwteen content

[2013-05-19 07:22] bbfsdev commented on #115
Great work. Will go over this.

[2013-05-20 12:18] AlexeyNemytov commented on #138
1. Run was done manually , not thru testing_server
2. What dou you mean by random parameters? File being created according to
   definitions in file_generator.yml

Before restarting the program again we have to find the problem, why files
are not being copied

On Sun, May 19, 2013 at 8:08 AM, yarondbb notifications@github.com wrote:

[2013-05-22 15:50] AlexeyNemytov commented on #138
@yarondbb @kolmanv @genadyp
Yaron was right - same files where generated - thus not copied
This issue is closed
testing continues - files being copied

[2013-05-22 15:50] #138 closed, assigned to kolmanv

[2013-05-24 07:11] bbfsdev opened #139 "Content data is flushed constantly"
It brings high disk load when we have many small files or content data is big enough.
It must be a configurable time parameter of flushing content data to the disk.
Default: 300s is good enough.

The problematic line is here:
https://github.com/bbfsdev/bbfs/blob/master/lib/content_server/queue_indexer.rb#L96

A flag should be added to control the file flush timeout.

[2013-05-24 08:20] bbfsdev commented on #118
Any news?

[2013-05-24 08:23] bbfsdev opened #140 "Minimal logging + logging rotation"
Minimal logging mode is very noisy.
The log grows quickly and it's hard to monitor changes with it.

The program must support log rotating without restarting.

Suggestion (thumb rule):
1) Log to info only one time events, i.e., not for each files.
2) Logs for each file log to debug level only.

[2013-05-24 08:24] bbfsdev opened #141 "Parameters - default configuration files or simple init to generate .bbfs directory + config files."
All parameters can be put in configuration files.
Every program have a default configuration file which can be changed with command line parameters.

Example:
I was unable to start "backup_server" without "--conf_file".

[2013-05-24 08:27] bbfsdev commented on #141
I have talked to Shiray, the only thing he wants is that is we put the config file user ~/.bbfs/etc/content_server.yml
Then by default the program will try to read this specific file.

Gena, please talk to me...

[2013-05-24 11:15] genadyp commented on #133
New log wasn't treated properly
Fix branch: issue133

#

File were copied successfully from master to backup

[2013-05-24 11:16] genadyp commented on #133
@kolmanv
What branch this fix should be merged?

[2013-05-24 13:17] genadyp commented on #141
@kolmanv
@yarondbb
@vshiray

as a temp solution defaults were added:
ContentServer: ~/.bbfs/etc/config_content_server.yml
BackupServer: ~/.bbfs/etc/config_backup_server.yml

Need to note it in release notes

---

Servers failed to start with defaults.
Need to determine what are the parameters that must be set manually.

[2013-05-24 16:23] genadyp opened #142 "Run in background enters in endless loop in certain scenarios"
Branch: Release 1.0.0

Run in background enters in endless loop when:
- issue incorrect background command
- delete command (but background process actually finished)
- start command for already running server (process still running after issue delete command)

[2013-05-24 16:50] genadyp opened #143 "Reporting defects form"
There is an important theme that wasn't discussed.

Suggested form is:

Defects are reported by opening new issue on project's issues page:
https://github.com/bbfsdev/bbfs/issues

Defect issue should contain following fields:
**Branch:**
Mandatory
**Problem Description:**
Mandatory.
Few sentences describing the problem.
Debug results if any
**Error Message:**
If any.
Taken from console or/and log.

[2013-05-24 17:38] bbfsdev commented on #143
Good form, has everything in it.
But I think we should start with something simpler.
As the hard point will be to actually fill it each time.

[2013-05-24 17:44] bbfsdev commented on #141
Updated [release notes](https://docs.google.com/document/d/1-jEYl9VimfOER7uulxufHvILN4pOkCtCEPXYXvpsbKA/edit#).

[2013-05-24 17:45] bbfsdev commented on #141
Not blocking release any more, unassigning and removing milestone.

[2013-05-24 17:46] bbfsdev commented on #140
Logging was reduced drastically. No more blocking patch release, closing the issue.

[2013-05-24 17:46] #140 closed, assigned to yarondbb

[2013-05-24 17:47] bbfsdev commented on #139
Done. Closing the issue.

[2013-05-24 17:47] #139 closed, assigned to bbfsdev

[2013-05-24 17:52] bbfsdev opened #144 "Enable log rotation."
Compress, store and archive log, continue with empty file.

[Pointer for reading](http://snipplr.com/view/26962/)

[2013-05-24 17:56] bbfsdev commented on #133
Probably master as this does not go to patch 1.0.1

[2013-05-26 06:18] yarondbb opened #145 "Lnx server F2 has some connectivity issue"
These operations fail:
git pull
bundle install

[2013-05-26 06:20] yarondbb commented on #144
@kolmanv , I ahve assigned it to me as we agreed.

[2013-05-26 07:01] yarondbb commented on #118
@AlexeyNemytov , I sent you the file via email (could not attach it here since .doc type is not supported)

[2013-05-26 07:50] bbfsdev commented on #118
If I understand correctly, Alexey have the file, he needs to add it to googledocs + link it to documentation page?

If that is the case, then I'm moving assignment to Alexey.

Alexey, please close this issue when the documentation is done.

@AlexeyNemytov
@yarondbb

[2013-05-26 07:57] bbfsdev commented on #145
How to recreate:

[code]

[code]

[2013-05-26 07:58] bbfsdev commented on #145
I think the root case may be the fact that we moved repository owners.
@genadyp , have you cloned the new bbfs yet?
Can you please stop everything you are running, and try to recreate this issue?

[2013-05-26 09:29] genadyp commented on #145
---

[2013-05-26 09:33] genadyp commented on #145
@AlexeyNemytov
@kolmanv
@vshiray
I would try, as root, to remove all installed gems on f2.
Who has a root privileges?

[2013-05-26 10:03] vshiray commented on #145
body p { margin-bottom: 0cm; margin-top: 0pt; }
    You can remove packages from your own
      account.
      On 05/26/2013 12:33 PM, genadyp wrote:

[code]

[2013-05-26 12:02] genadyp commented on #145
Let's look at daemons gem.

Gem absent but actually it's code exists

[2013-05-26 18:46] genadyp commented on #145
Default gemset.
No use of daemons:

Testing gemset
daemons included:

Switch to Testing gemset:

Bundle install succeed:

#

@yarondbb
@vshiray
@kolmanv
@AlexeyNemytov
I have no conclusions
What are you thinking?

[2013-05-27 05:40] yarondbb opened #146 "data_flush_delay is starving the file write of content data"
A starvation scenario:
1. Monitoring is sending event of a new file starved.txt to index
2. File starved.txt is indexed
3. Parameter data_flush_delay prevents the new starved.txt file to be written to the file
4. No more monitoring events are coming
5. starved.txt content is never copied to a file

Note that the system works OK in a sence that sync is done OK. This is becuase content server sends

[2013-05-27 05:44] yarondbb commented on #146
The fix can be made in Master since I merged all patch_1_0_1 into master

[2013-05-27 06:11] genadyp commented on #133
@bbfsdev
review and merge it into master please

[2013-05-27 08:15] genadyp commented on #145
[Two things you should note when using rvm](http://stackoverflow.com/a/4060347)

[2013-05-27 09:20] genadyp commented on #145
I suggest to uninstall following gems installed as root (need root permissions).
And then run bundle install as ordinary user.

#

@bbfsdev
assign please a person with appropriate permissions

[2013-05-27 16:01] bbfsdev commented on #133
Reviewed, please merge.
Maybe publish the gem? What do you think?
Should we do release for that?
@yarondbb @AlexeyNemytov What do you think?

[2013-05-27 16:41] bbfsdev commented on #145
Please update us all how to use gemset...

[2013-05-28 03:49] bbfsdev commented on #2
"content_server" failed with messages:

[INFO] [2013-05-26 11:43:34] [queue_indexer.rb:50:Indexing content /mnt/storage/media/audio/25_ogon�k.mp3.]
[ERROR] [2013-05-26 11:43:34] [backup_server:31:Exception happened in backup_server server: ArgumentError:invalid byte sequence in UTF-8]

It must log and ignore to process any names which are not UTF-8 compliant.

Here you can find some malformed utf-

[2013-05-28 03:50] bbfsdev commented on #146
Not in high priority, unassigning for now.

[2013-05-28 03:51] bbfsdev commented on #144
Not high priority, unassigning.

[2013-05-28 03:51] bbfsdev commented on #134
@AlexeyNemytov What is the status? Did you build? Please close issue when done.

[2013-05-28 03:52] bbfsdev commented on #133
Gena, code reviewed, please merge and close issue.

[2013-05-28 03:53] bbfsdev commented on #132
@AlexeyNemytov Any progress?

[2013-05-28 04:10] bbfsdev commented on #115
Please resolve the comments in the documentation and pass the file to Alexey to add it to wiki.

[2013-05-29 05:58] bbfsdev commented on #135
@AlexeyNemytov @genadyp @yarondbb
It's very hard to run testing server . . . We have to thing how to make it easier....

I have submitted a small fix to params.rb for testing server to work easier.
Note that after changing params.rb file I had to build the gem locally and install params v1.0.2!!!
Otherwise, testing_server will not work nether file_utils (to generate files) which depends on it.
Not

[2013-05-29 09:24] genadyp commented on #133
Issue133 branch merged into master

[2013-05-29 09:24] #133 closed, assigned to genadyp

[2013-05-30 14:44] bbfsdev commented on #2
@yarondbb Can you please update the status? Close if needed.

[2013-05-30 14:45] #2 closed, assigned to yarondbb

[2013-05-30 14:47] bbfsdev commented on #145
@vshiray Please unistall gems from root as @genadyp suggests.
Or suggest a better way to handle gems.

[2013-05-30 14:54] bbfsdev commented on #132
Not relevant any more, the parameters under examples are updated. Closing issue.

[2013-05-30 14:54] #132 closed, assigned to AlexeyNemytov

[2013-05-30 16:47] bbfsdev opened #148 "Move file_monitoring to log4r"
This is not the correct way to log: [link](https://github.com/bbfsdev/bbfs/blob/master/lib/file_monitoring/file_monitoring.rb#L50)

[2013-05-30 16:58] bbfsdev opened #149 "Mark files "STABLE" in file monitoring when backup/content server starts."
When the program starts, the file monitoring globs files in directory and marks them as NEW, then as UNCHANGED and then finally STABLE.
When running for the second time, we don't want files, which were already indexed to be considered as NEW and UNCHANGED, but rather STABLE right away.

Suggested solution:
Files which are monitored at start and exists in content_data should pass shallow_check (i.e

[2013-05-30 17:02] bbfsdev commented on #149
[Shalow check](https://github.com/bbfsdev/bbfs/blob/master/lib/content_server/queue_indexer.rb#L104)
[File monitoring](https://github.com/bbfsdev/bbfs/blob/master/lib/file_monitoring/file_monitoring.rb#L10) should get the content_data or list of files at the constructor or setter method such it will know list of files that should be marked STABLE from the beggining.

Note that those files should b

[2013-05-31 06:20] yarondbb commented on #146
done on master

[2013-05-31 06:20] #146 closed, assigned to yarondbb

[2013-05-31 07:21] yarondbb commented on #144
done. Default rotation size is 1M. When file reaches thi size it is closed and new file with increased rotation index is used for rest of logging. rotation index is added right before the '.' char. Exacmple: content_server00001.log4r

[2013-05-31 07:21] #144 closed, assigned to nobody

[2013-06-01 16:18] yarondbb opened #150 "New Testing Server"
Run testing server on content server
  Run local content server (on thread)
  Loop:
    Generate files
    Wait (for index to be written to file)
    locally shallow check (index against physical)

Run testing serer on backup server
   Run local backup server (on thread)
   loop: (based on comperator cycles - after compare wait few minutes for files to be transfered)
     locally shallow check

[2013-06-02 08:25] bbfsdev commented on #149
Assigned to @AlexeyNemytov. @yarondbb please help him.

[2013-06-02 08:31] bbfsdev commented on #150
The idea is to run one executable for testing server (one additional thread) + content server and one for testing server (one additional thread) + backup server.

One option is to add flag to content_server and backup_server: --run_testing_thread=true
This will run the testing thread in addition to running the standard content/backup servers.

Other option is the other way, i.e., add two flags to

[2013-06-02 09:16] vshiray commented on #150
What is an advantage to put the "testing" part in the main application ?

[2013-06-02 09:46] yarondbb opened #151 "Shiray: The CPU resources is near 100% all time and MEM consumption is high"
Shiray: It's a memory usage in 5 minutes after starting.
The configuration is set to monitor 3 directories with a total of 36555 files only.

The CPU resources is near 100% all time.
100% is a full usage of the single CPU's core.

[2013-06-02 09:52] yarondbb commented on #151
Few cancidates for this ebehavior:
1. Monitoring and Indexing are working non-stop
2. For each monitoring event the entire content data structure is cloned twice (when writing to index output queue and when updating the dynamic content data) - concider updaintg only when there is a change. And clone it once - or think of incremental changes.. since this is all done locally)
3. Networking is exaust

[2013-06-02 09:53] yarondbb opened #152 "Shiray: I have lost my backup.data file after terminating a program in a console."
It's a memory usage in 5 minutes after starting.
The configuration is set to monitor 3 directories with a total of 36555 files only.

I have lost my backup.data file after terminating a program in a console.

[2013-06-02 09:54] yarondbb commented on #152
I think this issue is fixed in master - Now printing the content data each xxx seconds to file regardless if monitoring event happened.

[2013-06-02 09:55] yarondbb opened #153 "Shiray: You must not overwrite existing data file."
You must not overwrite existing data file.
You should create a new file and than renaming it.
It's good to store the previous data file also

[2013-06-02 10:08] yarondbb opened #154 "Concider combine Monitoring and Indexing"

[2013-06-02 10:09] yarondbb opened #155 "Interface of indexing is complex. Concider simplify it"
Using of Patterns is pretty basic.
Concider remove use of pattern object

[2013-06-02 10:13] yarondbb opened #156 "Remove file\dir need to be enhanced for multiple servers"
Currently use of remove file\dir from content data instances (in queue_indexer) is not concidering server data).
This is due to new content data interfce which defines the global location as:
   "Server,device,path"
When path does not exist, then we do not know the device and need to remove based on path only.

Solution can concider remove device from content data
Or, we can switch device and path

[2013-06-02 10:42] genadyp commented on #155
one of the requirements was omitting certain kind of files from indexing.
is it still relevant?

[2013-06-02 10:48] genadyp commented on #154
it looks that indexer in the form that it was written once isn't in use.
it used now for indexing one file but was projected to index file-system tree.

[2013-06-02 11:19] bbfsdev commented on #154
I think better idea is to revise indexer and make it very small. But still leave monitoring and indexing as different services.

[2013-06-02 11:20] bbfsdev commented on #155
Don't know, maybe we should have some "blacklist" of files which should not be indexed, @vshiray what do you think?

[2013-06-02 11:25] yarondbb commented on #152
On terminating catch block we should force write the content data to file

[2013-06-02 11:30] yarondbb opened #157 "Shiray:backup server should index all files before connection to the "content_server"."
I have run "backup_server" only.
It must index all files before I will connect it to the "content_server".

[2013-06-02 11:31] bbfsdev commented on #151
Note that Shiray tested this on backup server with the following configuration:
Note the 5 minute scan period. We have to recreate the problem first.

[code]

[2013-06-02 11:32] yarondbb commented on #157
Concider same behavior in content server

[2013-06-02 13:41] yarondbb opened #158 "`hostname` is taking ~30mS (doing it for each indexing)"
Solution might be to put it as global param (we be called onces at init time)

[2013-06-02 13:51] yarondbb commented on #155
I found that the usage today is very time consuming:
Each file which is indexex is taking ~55 mS (actual SHAI takes ~1.5 mS)
More over.. when conetn data is getting bigger, each index is taking more and more time:
      (100mS after one minute)
      (200mS after one minute)
      ...
Look at the log after few minutes:
     [INFO] [2013-06-02 13:49:12] [index_agent.rb:76:Yaron:start index 170]

[2013-06-03 03:52] bbfsdev commented on #154
If I understand correctly we are not going to combine those, but rather revise the indexer. Closing issue.

[2013-06-03 03:52] #154 closed, assigned to kolmanv

[2013-06-03 03:55] bbfsdev opened #159 "Move logging in testing server to log4r"

[2013-06-03 04:00] bbfsdev commented on #145
Gena I think we should use our own gemsets, i.e., not use general gemsets or use the dev gemset.
@vshiray - What do you think? What is the correct work with gemsets? Please uninstall gems from the root gemset!

Two things you should note when using rvm:
1) You should NEVER use sudo to install gems, just do a gem install xxx
2) You can not uninstall gems installed in the global gemset from within a

[2013-06-03 04:02] bbfsdev commented on #124
Not relevant. Closing.

[2013-06-03 04:02] #124 closed, assigned to nobody

[2013-06-03 04:02] bbfsdev commented on #131
Obsolete closing.

[2013-06-03 04:02] #131 closed, assigned to nobody

[2013-06-03 04:06] bbfsdev commented on #136
Duplicate issue #109 (Closing 109)

[2013-06-03 04:07] bbfsdev commented on #109
Duplicate of #136 Closing this issue.

[2013-06-03 04:07] #109 closed, assigned to nobody

[2013-06-03 04:08] bbfsdev commented on #54
Not relevant.

[2013-06-03 04:08] #54 closed, assigned to nobody

[2013-06-03 04:38] yarondbb opened #160 "Backup requests ALL instances but can request only one instance per content"
To ease network transport backup could request only the minimal set of instances which it needs. 1 instance per content.

[2013-06-03 06:32] yarondbb commented on #150
I agree with Shiray.
I think the testing aplication should be seperate application which uses the content_server, file_utils,.. gems.

[2013-06-03 06:43] genadyp commented on #150
Who should be a user of testing server?
What is a purpose of testing server?
As far as i can see it used for testing basic functionality of application, that nothing was broken during development, may be some statistics, some research data irrelevant for end-user, etc.
Adding testing server functionality, irrelevant for main application, to main application can make main application logic more com

[2013-06-03 07:11] yarondbb commented on #150
Gena,
Kolman and me overviewd the details together. Pls talk to me before starting coding to see that we are alligned

[2013-06-03 08:30] bbfsdev commented on #150
If I understand what you wrote then we all agree on the following solution:
separate testing_server executable.
Which can run from within: content_server/backup_server/file_generator/validator with some testing logic.

[2013-06-03 08:30] bbfsdev commented on #150
The users are us first of all.

[2013-06-03 16:04] bbfsdev commented on #157
Talk to @vshiray about this issue. is this critical.

[2013-06-03 16:05] yarondbb commented on #156
Need to remove dev and fix

[2013-06-03 16:08] bbfsdev commented on #153
Talk with @vshiray, is this critical?

[2013-06-03 16:12] bbfsdev commented on #152
Check with @vshiray how critical is this?

[2013-06-03 16:16] bbfsdev commented on #151
https://github.com/ruby-prof/ruby-prof

[2013-06-03 16:35] bbfsdev commented on #151
http://ruby-prof.rubyforge.org/

[2013-06-03 16:43] bbfsdev commented on #151
Don't forget to generate tmux so everyone can see your work.

[2013-06-03 16:51] vshiray commented on #157
It's not the issue now.

I just run "backup_server" without "content_server".
Probably it has a sense to add this capability in some future.

[2013-06-03 16:55] vshiray commented on #152
It's not so critical.
But rewriting the data file is a bad approach in any case.

[2013-06-04 11:14] yarondbb commented on #158
moved inside #155

[2013-06-04 11:14] #158 closed, assigned to yarondbb

[2013-06-04 11:15] yarondbb commented on #155
Also treat: `hostname` is taking ~30mS (doing it for each indexing)

[2013-06-04 11:24] yarondbb opened #161 "file transfer recieves timeout (acknolage timeout)"
If backup requests many files (11,000 for exampl) at once, then the network queue get gemed and timeout is recieved (it took about 43 seconds to get the acknoledge)
The scenario which could lead to this kind of behavior:
1. Content server indexes 11,000 files.
2. backup recieves the content data
3. backup compare is squeduled for each 2hours.
4. when backup compares it finds that ALL 11,000 files

[2013-06-04 12:29] bbfsdev commented on #153
Same as #152. Not critical. Shiray means that we should write content_data to tmp file and only when the file has finished writing we should move it to the correct place. We should not have many instances of content_data.

[2013-06-04 12:30] bbfsdev commented on #152
Same as #152, read there, closing.

[2013-06-04 12:30] #152 closed, assigned to bbfsdev

[2013-06-04 12:31] bbfsdev commented on #151
The critical part of this is the MEM consumption.
CPU consumption is not critical.

[2013-06-04 12:32] bbfsdev commented on #157
Not critical, (workaround - don't start master before backup finished indexing).

[2013-06-04 12:33] bbfsdev commented on #151
@yarondbb Please concentrate on MEM consumption and on the prof tool.
But first try to recreate the MEM problem with v1.0.2

[2013-06-07 07:47] bbfsdev opened #162 "Update "backup_destination_folder" flag."
Please don't use any more "backup_destination_folder".

[code]

[2013-06-07 10:39] vshiray commented on #162
It's better to have a separate configuration parameter.

[2013-06-07 10:42] yarondbb commented on #151
analysis Report:
1. backup server was run with the above configuration for 5 minuts and more (36k files with average size of 2K)
    No memory inflate seen
2. backup server was run with 80 files of average of 250M size
    No memory inflate seen

Maybe file distributation is different in Shiray's system
Shiray, Pls show us the results of:
      du /mnt/storage/media

[2013-06-07 16:42] #155 closed, assigned to yarondbb

[2013-06-07 17:22] genadyp opened #163 "run_in_background test application log"
run_in_background test_application [creates log](https://github.com/bbfsdev/bbfs/blob/master/test/run_in_background/test_app#L21) that remains after the test finished and thus adds garbage to the bbfs home dir.

[2013-06-07 17:36] yarondbb commented on #153
Done. Regarding many instances of content data, we have dynamic content data (thread safe) and another object used by indexer

We need to concider this duplicity.

[2013-06-07 17:36] #153 closed, assigned to nobody

[2013-06-07 17:39] yarondbb opened #164 "concider having few content data objects"
#153 suplement: We have dynamic content data (thread safe) and another object used by indexer

We need to concider this duplicity.

[2013-06-07 18:31] yarondbb commented on #148
Monitor log uses general log params: log_flush_each_message and log_rotation_size.
It has also its own param:default_monitoring_log_path
Other then this it is independent of the general logging system.

[2013-06-07 18:31] #148 closed, assigned to nobody

[2013-06-07 18:33] yarondbb commented on #148
it also uses general log param:log_rotation_size

[2013-06-08 07:26] yarondbb commented on #162
I agree with Shiray,

Also Is it OK if scan_period and stable state will be shared among ALL dirs?
For example:
monitoring_scan_period: 300
monitoring_stable_state: 2
monitoring_paths:
- path: /mnt/storage/media/files
- path: /mnt/storage/media/audio
- path: /mnt/storage/media/video
  backup_destination_path: ~/<destination_path> # This path is also monitored (using scan priod and stable state)

[2013-06-08 07:28] yarondbb commented on #162
Sorry the example text did not show well - trying again..

For example:
monitoring_scan_period: 300
monitoring_stable_state: 2
monitoring_paths:
- path: /mnt/storage/media/files
- path: /mnt/storage/media/audio
- path: /mnt/storage/media/video
  backup_destination_path: ~/ # This path is also monitored (using scan priod and stable state)

[2013-06-08 07:29] yarondbb commented on #162
no.. I will remove some chars:

monitoring_scan_period: 300
monitoring_stable_state: 2
monitoring_paths:

  path: /mnt/storage/media/files
  path: /mnt/storage/media/audio
  path: /mnt/storage/media/video
backup_destination_path: path_to_dest # This path is also monitored (using scan priod and stable state)

[2013-06-09 14:51] yarondbb opened #165 "Enable process variables monitoring from web"
Enbaled with basic variables:
  {server_name:content_server} ,
  {time:2013-06-09 14:48:18 +0000} ,
  {monitoring queue size:9397} ,
  {content data queue:1} ,
  {indexed_files:4192}

To use it pls add the following parameters in configuration file:
# process variables monitoring

   process_monitoring_web_port: 5556
   enable_monitoring: true
   process_vars_delay: 2

[2013-06-09 14:52] yarondbb commented on #165
To use it: type in browser: <server-name>:<port>

We need to think of more valuable parameters for on-line debug the system

[2013-06-09 14:56] yarondbb commented on #165
type in browser:   server_name:port_number
for example: localhost:5555

[2013-06-09 15:13] yarondbb opened #166 "Process vars analisys of (Indexing rate ; queue performence ; log size) for 32K files"
Using new 'process variables monitoring' capability shows:
On Windows, with new designe, branch: release_1_1_0 -  32K files with 200-5K:

Indexing:
Indexing rate starts with 100 files per second (should finish indexing in ~5.5 minutes.
But through time rate drops more and more. Eventually it took 6 hours to complete.

Queue size(files waiting to be indexed) is going up to 23K and starts dropping o

[2013-06-10 06:04] bbfsdev commented on #165
Nice work. @vshiray - You can debug the system using this feature.
Shiray, please tell us what internal data would you like to see there to debug MEM consumption?

@yarondbb  - I suggest embedding the profiling tool within our program and displaying memory consumption and data structure on the fly using this feature...

[2013-06-10 06:09] bbfsdev commented on #166
@yarondbb  please do the analysis in Linux.

Please monitor all available queues.
If you can add memory consumption data to monitoring.

[2013-06-11 14:28] yarondbb commented on #165
The memory profiling tool suggested can not be used (some broken link in the tool guide)
The existing new process variable monitoring tool has been enhanced:
1. All queues sizes added
2. Object Construct\Distruct count for:
   ContentData
   FileStat
   DirStat
   DynamicContentData
1. Total count of living objects (Live objs cnt - variable below)

Look on this sexample of content_server:
{server_

[2013-06-11 17:35] genadyp opened #167 "ContentData interface"
branch: master
method: [remove_instance(location,checksum)](https://github.com/bbfsdev/bbfs/blob/master/lib/content_data/content_data.rb#L156)
There is no explanation regarding location.
Dangerous to use this method, especially if location definition will be changed.
Suggested: to add method that creates location from server, device, path.

[2013-06-12 09:02] yarondbb commented on #151
@kolmanv I can connect to sinatra via localhost only (on my Win machine), but I can not connect to the linux server.. any idea why? did it work before?

[2013-06-12 09:44] yarondbb commented on #151
Ok problem is fixed (adding: set :bind, '0.0.0.0' which should be the degault for any incoming connections)

[2013-06-12 19:49] genadyp commented on #150
@kolmanv
@yarondbb
@AlexeyNemytov

[New Testing Server branch](https://github.com/bbfsdev/bbfs/tree/issue150)

Servers will be run independently on master and backup machines.
How to run on content side:
testing_server --conf_file=[~/.bbfs/etc/content_testing_server.yml](https://github.com/bbfsdev/bbfs/blob/issue150/examples/content_testing_server.yml) --server_to_test=content
How to run on backup

[2013-06-12 20:01] genadyp commented on #150
**TODO**
- Get latest ContentData object directly from Content/BackupServer.
  Then need changes in Content/BackupServers interfaces
- Split to Backup/ContentTestingServers separate classes?
- Split long methods
- Tests
- No default config taken by Params
- Additional testing scenarios (remove/rename/change)
- In thus implementation validation called automatically on master side
  with receiving G

[2013-06-12 20:50] genadyp commented on #150
**NOTE**
FileUtils version advanced, so there is a need to issue new gem
Params version advanced, so there is a need to issue new gem

[2013-06-12 20:53] genadyp commented on #150
@bbfsdev
Review, please

[2013-06-13 09:12] yarondbb commented on #162
done: new paramtere format example (a hash format)

backup_destination_folder:
  path: ~\Ruby\Git\TestRoundClock\backup_server_root # Directory to backup file and monitor.
  scan_period: 5 # Number of seconds before initiating another directory scan.
  stable_state: 1 # Number of scan times for a file to be unchanged before his state becomes stable.

[2013-06-13 09:12] yarondbb commented on #162
Committed to release_1_1_0 branch

[2013-06-13 09:12] #162 closed, assigned to nobody

[2013-06-13 09:13] yarondbb commented on #165
Commited to branches:
  patch_1_0_3
  release_1_1_0

[2013-06-13 09:13] #165 closed, assigned to yarondbb

[2013-06-13 09:14] yarondbb commented on #151
Deployed at patch_1_0_3
Blocked by inputs from @vshiray
Moving assigny to @kolmanv

[2013-06-14 17:46] yarondbb commented on #156
'device' was removed from all content data occurences (including tests).
Currently remove dir is searching the dir in the full path only.
Still multiple servers is something we need to think with respect to a new design which supports it becuase all indexing (add\remove) is done locally. This is not something for this release.
@kolmanv , concider moving this item to anther milestone.

[2013-06-14 17:50] yarondbb commented on #156
Thinking on it again, a simple fix is to add to ContentData::remove_directory(content_data, dir_to_remove) the server to the parameters list and then remove only instances with this dir on the given server.
I am on it..

[2013-06-14 18:22] yarondbb commented on #156
done at release_1_1_0

[2013-06-14 18:22] #156 closed, assigned to yarondbb

[2013-06-15 18:01] AlexeyNemytov opened #170 "Exception when deleting files during content_server run"
Delete files from working directory during normal operation causes an error

[code]
[code]

[2013-06-17 13:16] yarondbb commented on #170
Root cause is that removed path is still living in the indexing queue
Then, when indexing and trying to get the file status and mtime we get the exception.
This is fixed in branch: release_1_1_0 (rescue block was added to catch this and ingnor the file. The assumption is that later an event of non-existing will be sent using the queue and the file\dir will be removed)

I think the issue can be clo

[2013-06-21 08:36] yarondbb opened #173 "ContentData – access to insntace in o(1)"
Currently find an instance involves search each contnet
Need to add some data structure which will hold a set of all instances
Need to update this new set when adding\removing instances\contents

[2013-06-21 08:36] yarondbb opened #174 "Remove 'Global' type use in params"

[2013-06-21 08:37] yarondbb opened #175 "Threads Sleep time - should be according to predefined cycle time"

[2013-06-21 08:39] yarondbb opened #176 "Process monitoring - For all queues, remove thread of queue.size"
Instaed, put the size during 'push' operation

[2013-06-21 08:42] yarondbb opened #177 "Reorginize GEMs"
Right hand rule:
If GEM content is related to content server such as: file monitoring, content data, process monitoring ets, then put inside content server gem (is sub dirs)

If GEM content is not related to content server such as: Networking, log, params etc, then keep as seperate gem

[2013-06-21 10:27] bbfsdev commented on #177
The new suggest list of gems is:
1) bbfs (rename content_server to bbfs)
  We can keep subdirectories here with same names.
2) networking
3) params
4) run_in_background
5) (maybe) process_monitoring
6) (maybe) log

[2013-06-21 10:56] bbfsdev opened #178 "Make tests upkeep feasible"
Currently we are not writing any tests and don't actually check enough.
We have to make sure:
1) No merge is merged without all static tests pass.
2) It is easy to maintain tests.
3) It is easy to create new tests.

[2013-06-21 18:34] genadyp opened #179 "FileCopy possible bug"
**Branch:** master

**Description:** If there was a copy process that finished abnormally and left a temp file. It looks then any another copy process will stop here and this file will never be copied. Need further investigation.
For more information see [FileCopy algorithm](https://docs.google.com/document/d/1KFQLjLezrnveU2d9BG5LwYEEwcj-Vr8h71c14qiDxVc/edit#heading=h.4ix1jstgu8y7) (there is an ap

[2013-06-21 18:36] genadyp commented on #115
Comments were resolved

[2013-06-21 18:36] #115 closed, assigned to genadyp

[2013-06-21 18:39] genadyp commented on #45
Fixed by #155

[2013-06-21 18:39] #45 closed, assigned to nobody

[2013-06-22 07:12] yarondbb opened #181 "Bug: Need to add method 'remove_directory'"
Exception happened in backup_server server: NoMethodError:undefined method `remove_directory' for #<ContentData::DynamicContentData:0x28c74c0>
Backtrace:
C:/Users/ydror1/Ruby/Git/bbfs/lib/content_server/queue_indexer.rb:53:in`block in run'

[2013-06-22 07:23] yarondbb commented on #157
idea for solution:

Connect backup server to master if Monitored files size (FileStat objects)  = content data files size (file Instances)
This condition should be checked after initialization of Content data(from file) and Monitoring, and also later during the indexing which eventually should make the 2 sizes equal

[2013-06-22 08:00] yarondbb opened #182 "When running content then many backup parameters are showing and vice versa.."
Content server parameter such as: local_files_port and local_content_data_port, are showing in backup run..

This can be missleading..

[2013-06-22 08:04] yarondbb opened #183 "Windows\Linux paths handling"
This exception is thrown in Linux when backup destination folder path is provided in Windows format: ~.bbfs\test_backup_dir
     Exception happened in testing_server server: ArgumentError:user .bbfs\test_backup_dir doesn't exist

We might want to handle this and allow any format to be provided (thus having 1 configuration file format for linux Windows)

[2013-06-22 08:12] yarondbb opened #184 "Files are Generated with same content"
In File generator, Add option to generate random char. this will lower the posibility of generating files with same content when we want different files with small size

[2013-06-22 08:28] yarondbb opened #185 "Executing file_utils with non existing command does does nothing. Should fall with error message but"

[2013-06-22 08:35] yarondbb opened #186 "Need to print parameters to console and not only to log when print_param_to_stdout=true"
When parameter: print_param_to_stdout=true the parameters are printed to log. Need to print them to console even if log_write_to_console=false

[2013-06-22 08:47] yarondbb opened #187 "No Warning is generated when conf_file final path does not exist."
When user sets a configuration file and expects the values to be deployed but has an error in the file name, then the parameters are not used (default are used) but no warning is generated. This can take much time to catch..

[2013-06-22 08:51] #170 closed, assigned to nobody

[2013-06-22 09:39] yarondbb commented on #164
Done in Releae_1_1_0 bu @kolmanv
closing..

[2013-06-22 09:39] #164 closed, assigned to kolmanv

[2013-06-22 09:40] yarondbb commented on #161
This is an exmample from release_1_1_0 with 2000 files only:
[DEBUG] [2013-06-22 09:01:52] [queue_copy.rb:85:Ack timed out span: 17 > timeout: 5]

[2013-06-22 16:16] yarondbb commented on #179
Better to work on releae_1_1_0 as it has the latest code

[2013-06-27 14:47] #149 closed, assigned to AlexeyNemytov

[2013-06-27 14:48] bbfsdev commented on #151
VERY GOOD WORK GUYS :) :+1:
@vshiray @yarondbb @AlexeyNemytov

[2013-06-27 14:48] #151 closed, assigned to kolmanv

[2013-06-27 14:49] #129 closed, assigned to nobody

[2013-07-01 15:28] bbfsdev commented on #183
There is an error in your input:

[code]

should be

[code]

Try changing... If the problem is not recreated, close the issue.

[2013-07-01 15:30] bbfsdev commented on #176
@yarondbb Is this done?

[2013-07-01 15:31] bbfsdev commented on #175
@yarondbb
What is this issue? Please add details.

[2013-07-01 15:32] bbfsdev commented on #174
@yarondbb
If this is done, please close it.

[2013-07-01 15:35] bbfsdev commented on #166
@yarondbb
If I understand correctly this issue is solved. Please close it.

[2013-07-01 15:38] #150 closed, assigned to bbfsdev

[2013-07-01 15:39] bbfsdev commented on #135
Obsolete.

[2013-07-01 15:39] #135 closed, assigned to nobody

[2013-07-01 15:39] bbfsdev commented on #134
Obsolete.

[2013-07-01 15:39] #134 closed, assigned to nobody

[2013-07-01 15:43] bbfsdev commented on #130
Obsolete - see comments in the binary:
https://github.com/bbfsdev/bbfs/blob/master/bin/testing_server

[2013-07-01 15:43] #130 closed, assigned to genadyp

[2013-07-01 15:43] bbfsdev commented on #122
Duplicate of #177

[2013-07-01 15:43] #122 closed, assigned to nobody

[2013-07-01 15:44] bbfsdev commented on #121
Obsolete

[2013-07-01 15:44] #121 closed, assigned to nobody

[2013-07-01 15:44] bbfsdev commented on #120
Not relevant.

[2013-07-01 15:44] #120 closed, assigned to nobody

[2013-07-01 15:51] bbfsdev commented on #118
Done.

[2013-07-01 15:51] #118 closed, assigned to AlexeyNemytov

[2013-07-01 15:58] bbfsdev commented on #187
Should just written a warning, i.e., "Please note that no configuration file is given, using default parameters"

[2013-07-01 15:59] bbfsdev commented on #185
Should type "Command not found".

[2013-07-01 16:00] yarondbb commented on #184
Use a flag

[2013-07-01 16:01] #183 closed, assigned to yarondbb

[2013-07-01 16:04] yarondbb commented on #176
yes

[2013-07-01 16:04] #176 closed, assigned to nobody

[2013-07-01 16:05] #174 closed, assigned to yarondbb

[2013-07-01 16:05] #167 closed, assigned to nobody

[2013-07-01 16:07] #175 closed, assigned to yarondbb

[2013-07-01 16:08] #166 closed, assigned to yarondbb

[2013-07-01 16:10] #159 closed, assigned to nobody

[2013-07-01 16:11] bbfsdev commented on #141
Done.

[2013-07-01 16:11] #141 closed, assigned to nobody

[2013-07-01 16:13] bbfsdev commented on #136
Please note, that there might be exception twice as we try to write to file when exiting on disk quota.
Make sure email is send anyway...

[2013-07-01 16:16] #107 closed, assigned to nobody

[2013-07-01 16:16] #106 closed, assigned to nobody

[2013-07-01 16:16] #105 closed, assigned to nobody

[2013-07-01 16:16] #103 closed, assigned to nobody

[2013-07-01 16:17] #100 closed, assigned to nobody

[2013-07-01 16:18] #99 closed, assigned to nobody

[2013-07-01 16:18] #96 closed, assigned to nobody

[2013-07-01 16:19] yarondbb commented on #65
check path support in general

[2013-07-01 16:23] #127 closed, assigned to nobody

[2013-07-01 16:34] bbfsdev opened #191 "Make dynamic data really thread safe."

[2013-07-05 14:39] yarondbb commented on #161
opend pull request #193 in issue #193 for @kolmanv kolman to review

[2013-07-05 14:45] yarondbb commented on #179
Regarding abnormal crush of file transfer, in issue #161 we delete a stream if there is a time out. this will handle the stream.
Regarding the temp file, do you refer to the tmp file in backup server before it is copied to final destination? So scenario is this:
1. File is copied to tmp dir but the treatment is dead.
2. Next file transfere checks the tmp location and finds out that the file has al

[2013-07-06 18:29] genadyp commented on #177
Suggest to move everything to one gem.
In the current situation there is no need to support a number of gems.
Let's think about it when there is indeed will be a need.

@yarondbb
@kolmanv
@AlexeyNemytov
What are you thinking? Is it OK?

[2013-07-06 19:19] yarondbb commented on #186
done

[2013-07-06 19:19] #186 closed, assigned to nobody

[2013-07-06 19:19] yarondbb commented on #187
done

[2013-07-06 19:19] #187 closed, assigned to nobody

[2013-07-06 19:24] yarondbb commented on #173
done

[2013-07-06 19:24] #173 closed, assigned to bbfsdev

[2013-07-06 19:24] yarondbb commented on #161
done. Need to continue work on issue #179

[2013-07-06 19:24] #161 closed, assigned to yarondbb

[2013-07-06 21:01] genadyp commented on #179
Pointers to code.
From the [FileCopy algorithm](https://docs.google.com/document/d/1KFQLjLezrnveU2d9BG5LwYEEwcj-Vr8h71c14qiDxVc/edit#heading=h.4ix1jstgu8y7)
FileCopyClient:
get COPY_CHUNK
move a received chunk to the FileReceiver
FileReceiver:
if chunk and chunk checksum both are not nil
[if no corresponding stream then build a new one](https://github.com/bbfsdev/bbfs/blob/master/lib/content_serve

[2013-07-07 06:31] yarondbb commented on #182
done

[2013-07-07 06:31] #182 closed, assigned to nobody

[2013-07-08 04:48] yarondbb commented on #181
opened pull request

[2013-07-08 04:48] yarondbb commented on #178
Content data tests are fixed

[2013-07-08 04:51] yarondbb commented on #157
Question: @kolmanv , does @vshiray refer to the loading of already indexed file? or to monitoring a new directory?

[2013-07-10 06:27] yarondbb opened #198 "If data has not changed - do not write it to system"
In order to make application as 'light' as posible (memory\CPU\performence),  not to write data to server if this data has not changed.
for example the content data we receive from content server is written to file system even if not changed. Also, local content data is written to content.data\backup.data even if dynamic content data has not changed.

[2013-07-10 06:27] yarondbb opened #199 "CPU 100%"
We have 100% CPU even when server suppose to wait and not do anything.. it means that there are thread of several threads which perform some unnecessary things

[2013-07-10 06:29] yarondbb opened #200 "Memory leaks investigation"
Process monitoring shows milions of living objects in the execution.. who are they? why so much? Need to investigate for leaks.

[2013-07-10 06:29] yarondbb opened #201 "optimize data structure"
For 4000 files, the memory usage is too big.
We must optimize our data structure.
Please read
     http://www.platanus.cz/blog/working-with-huge-hashes-in-ruby

[2013-07-19 11:56] genadyp opened #203 "indexer memory leak check"

[2013-07-20 12:46] genadyp commented on #203
There are only two methods used from IndexAgent: [get_checksum](https://github.com/bbfsdev/bbfs/blob/master/lib/file_indexing/index_agent.rb#L29), [get_content_checksum](https://github.com/bbfsdev/bbfs/blob/master/lib/file_indexing/index_agent.rb#L45)

There are 3 types of objects created: Digest for SHA1, File, checksum as String
ObjectSpace was used to inspect.
Checksum was wrapped with specific

[2013-07-20 13:01] genadyp opened #204 "ContentData redundant flush to disk"
ContentData flushed to disk even if it wasn't changed.

Can be it problematic with really big ContentData objects?

[2013-07-20 15:30] #203 closed, assigned to genadyp

[2013-07-22 11:09] #181 closed, assigned to yarondbb

[2013-07-26 05:10] genadyp commented on #178
**TODO:**

Priority: high
- Make rake pass
  - [ ] remove obsolete tests
  - [x] fix relevant tests

Priority: medium
- to check what code should be covered with tests
  - add absent tests
  - [x] SimpleCov used to get code coverage
- to check what code should not be covered with tests
  - remove redundant tests
  - connected to #212
- to check test correctness
  - [tcp_spec](https://github.com/bb

[2013-07-26 05:17] genadyp commented on #178
branch: issue178 (based on master from 2013--7-26)

[2013-08-01 09:28] yarondbb commented on #201
I moved to use GoogleHashDenseRubyToRuby.
I got this exception:
    [BUG] object allocation during garbage collection phase
    [NOTE]
    You may have encountered a bug in the Ruby interpreter or extension libraries.
I look at google, I saw this:
            https://github.com/wayneeseguin/rvm/issues/1342
It has this part:
   what version of RVM was it? I thought this error was fixed in latest RV

[2013-08-02 13:42] yarondbb commented on #191
Using 2 types of content data gloably: local and remote content data
havinh 2 global locks for each.
Othre temporery use of content data objects should be done with care. If needed add temporary locks

[2013-08-02 13:50] yarondbb commented on #199
This issue is checked and resolved.
!00% was sue to heavy feature: process vars monitoring.
Now, the feature is much lighter.

[2013-08-02 13:50] #199 closed, assigned to yarondbb

[2013-08-03 07:41] genadyp commented on #177
@yarondbb
@kolmanv
@AlexeyNemytov

Software will be supplied as one gem: content_server-X.X.X.gem
Unused gemspecs moved to legacy folder.

To check gem it was installed on content and backup machines and then testing server activity was simulated on two machines.
Was unable to run testing_server even with clean master taken from repository.

[2013-08-03 12:00] bbfsdev commented on #177
@genadyp do you plan move all files under the content_server directory, remove old unused files.

[2013-08-03 12:24] genadyp commented on #177
Why to move all files under content_server directory?
There are different modules, does not connected directly to content_server logic (right hand rule from the first message of this issue).
Suggest to remain project separation to module as it, just build one gem cause now there is no reason to support number of gems.
There two different systems: module system (logical division of the project, num

[2013-08-03 12:47] bbfsdev commented on #177
**TODO**
1) I suggest deleting the legacy folder as we have everything stored in git and we can alway go back.
2) In order for the project to remain in the correct gem structure there should be:
lib/<gem name> directory
Then under this directory we can divide and create all modules.
So the basic thing is to move all directories under lib to directory lib/<gem name> such that the correct gem struct

[2013-08-04 20:02] yarondbb commented on #200
2 major memory issues handled.
Feature: process monitoring, changed to be lighter. Nevertheless it is not intended to be used but only for debugging.

Data synchronization fixed for ContentData objects

monitoring and Indexing were checked with different # of files: 50K, 100K, 150K, 200K, 250K.  Memory reaches max of  ~750M pic, for 250K files over several hours, when system is loaded (indexing, w

[2013-08-04 20:02] #200 closed, assigned to yarondbb

[2013-08-04 20:05] yarondbb commented on #198
Alexey finished!

[2013-08-04 20:05] #198 closed, assigned to nobody

[2013-08-04 20:07] yarondbb commented on #191
Done with temporary solution with locks on any use of objects.
Next would be to put the lockers inside the object

[2013-08-04 20:07] #191 closed, assigned to yarondbb

[2013-08-04 20:09] yarondbb commented on #204
done

[2013-08-04 20:09] #204 closed, assigned to nobody

[2013-08-04 20:10] yarondbb commented on #184
done

[2013-08-04 20:10] #184 closed, assigned to nobody

[2013-08-04 20:12] yarondbb commented on #112
done

[2013-08-04 20:12] #112 closed, assigned to nobody

[2013-08-04 20:13] yarondbb commented on #110
Issue to change parameters for user.
I f user will request a speciall change we should change then

[2013-08-04 20:18] yarondbb opened #209 "bug: unhandled nil case"
https://github.com/bbfsdev/bbfs/blob/master/lib/file_monitoring/monitor_path.rb#L267

file_stat = File.lstat(file) rescue nil
if (file_stat.directory?) --> nil would cause en exception

[2013-08-04 20:23] yarondbb opened #210 "Unused parameter in method"
content_data_cache passed to FileStat but no used in:

https://github.com/bbfsdev/bbfs/blob/master/lib/file_monitoring/monitor_path.rb#L288

[2013-08-04 20:48] yarondbb opened #211 "Change log messages call for memory\cpu performence"
for example: https://github.com/bbfsdev/bbfs/blob/master/lib/content_server/backup_server.rb#L138
Log.debug2("Backup content:\n#{$local_content_data}")

Few mega byte of string is generated even if debug level is 0.

Solution should be something like:

Log.debug2("Backup content:\n%s", local_content_data)

Def Log.debug2(msg, *args)
  if Params['log_debug_level'] >= 2
    composed_msg = msg % *arg

[2013-08-04 20:48] yarondbb opened #212 "Code cleanup"
Remove unnecessary files (index agent, file utils, log, etc..)
other cleanup ?

[2013-08-04 20:48] yarondbb opened #213 "Raise test coverage"

[2013-08-07 07:59] genadyp commented on #212
**Email functionality duplication:**
module Email (lib/email/email.rb)
module SendEmail (lib/process_monitoring/send_email.rb)

**Unused methods:**
ContentData::get_query

**File_Indexing**
It's main purpose was to index files by specific patterns.
This functionality is unused meanwhile.
We use only it's secondary methods (get_content_checksum, etc.)
Consider module refactoring.

**Indexer functio

[2013-08-07 08:11] genadyp commented on #212
**Utility scripts duplication**
gem_build_lnx.bat ,
gem_build_win.bat ,
gem_rebuild_lnx.bat,
gem_rebuild_win.bat,
reinitialize_all_bbfs_gems.rb
_Consider to use rake for this purposes, it looks more ruby-way._

**Obsolete utility script**
run_all_tests.rb (we have a rake task for this purpose).

**Obsolete executables**
bin/file_monitoring
bin/file_monitoring_win32

**index_validator mode**
Need t

[2013-08-07 19:44] genadyp commented on #213
connected to #178

[2013-08-11 14:23] yarondbb commented on #178
the branch is old (difficult to merge with master)

Lets open a new branch from current master

[2013-08-11 19:36] yarondbb commented on #178
Opened new branch - issue-178-test_coverage

[2013-08-12 18:48] yarondbb opened #215 "application name changed to ruby_wrapper.."
Starting version 1.2.1 (ingle gem), the application name has changed to ruby_wrapper..

This obligates the user provide the conf file explicitly (work around)

[2013-08-12 18:49] yarondbb opened #216 "refresh release process"
Based on issues we had, we need to refresh release process scenario

[2013-08-12 18:53] yarondbb opened #217 "hanlde signals"
hanlde signals in 3 main cases:
1. terminaing the program - only critical actions and exit - need to define
1. Shutdown - close the application with out loosing data etc. - need to define
2. user signals - tell the application to perform specific tasks such as dump internal state etc.. - need to define

[2013-08-12 18:59] yarondbb opened #218 "loading the indexed data from data base should reach the same state as after indexing"
today, we have special handling of loaded data (we use cache and do shalow check)

[2013-08-12 20:36] genadyp commented on #217
[example of signal handling](https://github.com/bbfsdev/bbfs/blob/master/lib/process_monitoring/monitoring_info.rb#L12)

[2013-08-12 21:08] genadyp commented on #215
@yarondbb
@AlexeyNemytov
@kolmanv

When providing executables with a gem, they get wrapped in a ruby wrapper that provides some support for using previous versions of a gem. So ruby_wrapper is OK.

[This line suspicious](https://github.com/bbfsdev/bbfs/blob/master/lib/params.rb#L256):
`Params['conf_file'] = "~/.bbfs/etc/config_#{executable_name}.yml"`

In the previous version, supplied with v1.2.0

[2013-08-13 11:51] yarondbb commented on #218
Suggester algorithm:
  Loop over loaded content data
  If file is in monitoring area - *Add to DirStat tree as stable with path,size,mod_time read from file
  If file is NOT in monitoring area - skip (not a valid usage!!)
 ( need to add methods to add an instance to tree..) - use the content data parameters

*Add to DirStat tree - this will implement adding a file to the DirStat tree:
 For example

[2013-08-14 07:18] genadyp commented on #142
@kolmanv
@yarondbb
@AlexeyNemytov

Volodia wants to check background option.
May be worth to define this issue as critical?

[2013-08-15 18:32] yarondbb commented on #142
fixed in brnach: issue-142-background-loop
Root cause was endless while loop in bin<application> when execution finished with no exception and loop counter was not reduced below zero.
I cenceld the endless loop mechanism since we are not using it currently.
Pull request opend for @kolmanv. I will close this issue after merge

[2013-08-15 18:35] yarondbb commented on #218
Open pull request #219 for @genadyp
Will close this issue after merge

[2013-08-15 18:37] yarondbb commented on #142
related to #220 (the pull request

[2013-08-15 18:40] yarondbb commented on #210
deprecated in new design (in issue #218)

[2013-08-15 18:40] #210 closed, assigned to nobody

[2013-08-15 18:42] yarondbb commented on #185
File utils will be removed soon. This is not relevant any more.

[2013-08-16 10:05] yarondbb commented on #157
Suggestion:
on sync, check if content data file count is same as umber of monitored files.
When number is equal (and not zero), than releae a steaky flag and dont check again.

[2013-08-17 17:55] genadyp opened #221 "testing_server: check that every generated file was indexed"
testing server feature:
to check that every generated file was indexed.

Our testing is broken and there is no guarantee that any patch/fix that we enter does not break our code. The only check that we run is a testing server. Lets check at least that we index any file.

[2013-08-19 16:05] yarondbb commented on #218
merged.

[2013-08-19 16:05] #218 closed, assigned to yarondbb

[2013-08-19 18:49] genadyp commented on #215
issue215_ruby_noexec_wrapper_fix
branch created

[2013-08-19 18:53] genadyp commented on #215
Validation:

[code]

[2013-08-21 17:34] yarondbb commented on #215
Merged

[2013-08-21 17:34] #215 closed, assigned to genadyp

[2013-08-21 17:35] yarondbb commented on #211
Dode. Merged.

[2013-08-21 17:35] #211 closed, assigned to yarondbb

[2013-08-25 03:12] bf4 opened #227 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-08-30 18:35] genadyp opened #228 "redundunt writing to log during monitoring"
see please at this part of log,
especially on time:

[code]

@yarondbb , could you look please?

[2013-08-30 18:39] genadyp commented on #228
Params:

[code]

[2013-08-30 20:13] genadyp commented on #178
#163 will be fixed here

[2013-08-30 20:35] genadyp commented on #178
New branch [issue178_refactor](https://github.com/bbfsdev/bbfs/tree/issue178_refactor)

[2013-08-31 19:22] genadyp commented on #177
**TODO**
Move [ThreadSafeHash](https://github.com/bbfsdev/bbfs/blob/master/lib/process_monitoring/thread_safe_hash.rb#L2) to another place out of lib/process_monitoring

[2013-08-31 19:28] genadyp commented on #212
**Params duplication**

[code]

[2013-09-06 11:13] genadyp opened #229 "adding path that already exists with different checksum"
Currently there is no handling for this situation and then there can exists a Content that contains incorrect instances (i.e. file was change and it's checksum is not the same as of this content).
Was discovered as a reason of falling test.

Questions:
- Is this situation is possible?
- If it possible then is this situation is handled somewhere?
- Should it be handled in ContentData::add_instance

[2013-09-06 11:31] genadyp commented on #229
Secondary effect is an incorrect output of ContentData::to_s.
See number of instances in the example below:

[code]

Worth to check also output of ContentData::to_file method

[2013-09-06 11:32] genadyp commented on #229
[Workaround](https://github.com/bbfsdev/bbfs/commit/1905f41a511c77ec48c1c39d99d18339a856a2b1) (branch issue178_refactor)

[2013-09-06 11:42] genadyp commented on #229
My opinion is that this situation should be handled (if we insist that ContentData must contain correct data).
It was discovered with a test. If we remove the test (make it pass) and remain ContentData as it, then there is almost no chance to discover such a problem in the future. And thus, even if now this situation is impossible, there is no guarantee that it will not changed in the future.
It i

[2013-09-08 19:35] yarondbb commented on #229
The flow we have:
If same path has different size or modification time (different checksum), then the instance (file) is removed from ContentData and changes state to CHANGED (also cycles go back to zero).
Later when the file becomes stable, it is indexed and added to ContentData with new size and modification time.
So, actually we do not have (now) a situation where same path is added twice to Co

[2013-09-09 04:50] genadyp commented on #229
There are at least two layers: layer of "Controller" or backup logic (file monitoring etc.) and layer of "Model" or ContentData.
To enable maintainability and prevent problems in the future they have to be separated.
From the point of view of ContentData there is no instrument that prevents this situation and we can not rely on external usage cause it break "Model" and "Logic" separation.
Yaron, c

[2013-09-09 15:24] genadyp commented on #163
Fixed

[2013-09-09 15:24] #163 closed, assigned to genadyp

[2013-09-14 16:09] #142 closed, assigned to yarondbb

[2013-12-02 13:56] yarondbb commented on #228
In real life usage, monitoring would occur once of twice a day.. So I believe that writing this info to log is importent

[2013-12-02 14:01] yarondbb commented on #209
Handled in new algorithm of monitoring

[2013-12-02 14:01] #209 closed, assigned to nobody

[2013-12-02 14:03] yarondbb commented on #201
Trying to use Google hash caused erros in Ruby interpreter.
Closing th eissue for now.
Memory usage handled using better code writing for memory performence

[2013-12-02 14:03] #201 closed, assigned to nobody

[2013-12-02 14:03] #185 closed, assigned to nobody

[2013-12-02 14:49] yarondbb opened #233 "Daily automatic testing system (Regression)"
System requirements:
Start every day automatically at midnight.

INIT:
Retrieve the latest master from BBFS git repository
Clean previous execution files and GEMs
Create all needed Gems for tests (e.g. Bundler and Rake gem)

Execute:
1. Rake
2. Testing server (transfer files from f2 to f1)

Report (send mail):
1. Rake failures if any
2. Testing server Mem and CPU report.

[2013-12-08 05:10] AlexeyNemytov opened #234 "Testing Server error"
[code]

Possible cause  server_to_test  missing in yml.??

[2013-12-08 10:11] bbfsdev commented on #234
Should this flag be in the configuration file, or this flag is expected to be used from the command line.
Have to tried specifying it from the command line.

@yarondbb - Do we have documentation how to use testing_server?

[2013-12-08 15:07] yarondbb commented on #234
In the example files we have. But need to add the server_to_test to the example configuration file.
I believe this issue can be closed

[2013-12-17 04:23] yarondbb opened #235 "Bug-found at release 1.4.0-bug-1"
The new version does not run with "enable_monitoring: true".
So I have run the "backup_server" without monitoring.

The next error was triggered with "enable_monitoring: true":
[bbfs@swift1 ~]$ backup_server

Interrupt or Exit happened in server:''.
Exception type:'NoMethodError'.
Exception message:'undefined method `synchronize' for nil:NilClass'.
Stopping process.
Backtrace:
/usr/local/rvm/gems/

[2013-12-17 04:26] yarondbb commented on #235
Root cause found:
At lib/networking/tcp.rb:197: @remote_server_available_mutex is used in method:start_reading.
Method start_reading is called (in initialize) before @remote_server_available_mutex is defined

[2013-12-17 04:29] yarondbb opened #236 "Bug-found at release 1.4.0-handle symbolic links"
Shiray: You must not process them as a regular files or directories.
The symbolic point must be stored as is if it points to file/directory within "indexing area" or ignored in other case.

[2013-12-17 04:30] yarondbb commented on #236
work around released in Patch 1.4.1.
Work around is to ignore symbolic link files during Monitoring.

[2013-12-17 04:32] yarondbb opened #237 "Monitoring - new use case"
Use case:
Folder was renamed, then no need to re-index (no files were added/changed) inner files - only to update ContentData.

In general if there is a file with same file attributes as in ContentData, then no need to re-calculate checksum for this file, just to update ContentData.

Remarks?

[2013-12-17 04:32] yarondbb commented on #237
phases:
0. Application runs in 'normal' state.
1. User sends 'hold' signal
2. The system moves to 'hold' state and indicates this to user
3. User perform changes in diretories structure (rename directories, delete\add files)
4. User sends 'resum' sugnal
5. System move to 'resum' state. in which:
5.1   Monitoring the file system.
5.2      If Files added\delete - behave as normal state i.e. add\dele

[2013-12-17 04:34] yarondbb commented on #237
[code]

Folder was renamed, then no need to re-index (no files were added/changed) inner files - only to update    ContentData.

Shiray: It's an example only which can bring a huge data reindexing.
It maybe any other small changes also (move files to another folders, delete some files, ...).

[code]

Shiray: It's not a regular behavior now.
We do checksumming in case we see a new file.
But probabl

[2013-12-17 04:35] yarondbb commented on #237
If we are going to add this behavior thorugh new parameter per dir, then we would not need the signals flow any right ?

To check if file attributes already exist, we would search the directory tree and look for a match.
     Time performence is:
     O(log-n) +                  O(1) =                                   0(log-n)
      Dir Tree search        Files hash under dir
     This is not too

[2013-12-17 04:46] yarondbb opened #238 "File synchronization validation preparations"
When moving to valdate file synchronization:
1. Check time performence.
Currently we measured that file transfere speed is lower, by a factor of 10, with respect to rsync (OS command)

1.1 Refactor option: Currently we send files in chunks and calculate each chunk checksum (blocking call). In general we need to check the enire file checksum anyway, but it could be done as non-blocking and thus sav

[2013-12-17 16:08] bbfsdev commented on #237
What do you mean new parameter per dir?
I suggest instead of parameters going for simpler design.
If Shiray want such behavior, he stops the server (in clean predefined way), and rerun with special flag, i.e., allow_move_for_first_index=true, then in the first index run we may allow this "move" check and not reindex moved files.
Or we could simply implement hold/resume button. We can do this throu

[2013-12-17 16:09] bbfsdev commented on #236
Yaron, please add a test for this case. Send it for review.

[2013-12-17 16:09] bbfsdev commented on #235
IIUC this is the second time we fail on this issue. Please write a test and send for review.

[2014-01-03 06:30] genadyp commented on #178
[Code Coverage](http://genadyp.github.io/bbfs.coverage/#_AllFiles)

#### Non-covered at all:

**Appear in the report:**
lib/content_server/backup_server.rb
lib/content_server/content_receiver.rb
lib/content_server/queue_copy.rb
lib/content_server/remote_content.rb
lib/file_monitoring/file_monitoring.rb
lib/file_monitoring/monitor_path.rb
lib/process_monitoring/monitoring_info.rb
lib/process_monito

[2014-01-07 04:33] yarondbb opened #241 "Log4r new version 11 breaking Master"
Log4r new version 11 is not compatible with version 10. This breaks Mater.
Workaround is to uninstall ver 11 and install version 10 (or have ver 10 be intalled via bundle install)
Long run is to allign code with new ver 11

[2014-01-08 17:54] yarondbb commented on #237
Agreed solution:

User flow:
1. Stop the application
2. Run Do manual changes in monitoring directories (any change)
3. Run the application with new flag: manual_file_change=true
4. Application should provide new content data file with the manual changes (without doing any indexing), and exit
5. Run application again with new flag: manual_file_change=false (default calue). Application will load th

[2014-01-08 17:58] yarondbb commented on #237
issue #242 is the pull request for this issue

[2014-01-08 18:04] yarondbb opened #243 "Add index time to content data"
New File format example in content data:
   a1234567890123456789_80124_server1_/user/path_to_file_1389167919_1389168139

The 5th item is the file modification time   (1389167919).
New field is put as last item - 6th location (1389168139) is the unix time in seconds of the indexing time.

Pull request will be send soon

[2014-01-08 18:19] yarondbb commented on #243
@genadyp , your task is th ecode review which will be ready soon

[2014-01-09 09:25] yarondbb opened #244 "Convert current content data file format(5 fields) to new format (6 fields)"
Next release should support new Content data format (new field - instance index time)
Currently the customer has content data file in Current format (5 fields)
Example of content data file name: backup.data-20130801.bz2

New auxiliary conversion application should convert all instances in the input content data file and add an index time for all instances.
The index time will be calculated as foll

[2014-01-09 09:27] yarondbb commented on #237
Closing to prevent duplication, since there is a pull request issue opened for this same issue

[2014-01-09 09:27] #237 closed, assigned to nobody

[2014-01-11 17:43] bbfsdev commented on #244
I don't understand what you mean here... do you talk here about what is the default index time of a file?

We should write a simple file_utils command that converts the content_data to new format.

[2014-01-11 18:59] AlexeyNemytov commented on #241
Working with ruby 1.9.2
Current valid version of log4r gem is 1.1.10
version 1.1.11 does not exist
rake with version 1.1.10 is OK
Could not recreate a problem on my machine
1. Uninstalled all
2. Installed all
3. rake is OK
4. gem uninstall log4r
5. Check no valid version of log4r exist
6. gem install log4r
7. run rake is OK - 0 errors 0 failures
I checked on ruby site https://rubygems.org/gems/log

[2014-01-12 07:16] yarondbb commented on #241
I checked the web, it seems that Log4r ver 11 was Yanked due to errors all around teh globe :)
Less work for us..

[2014-01-12 07:16] #241 closed, assigned to AlexeyNemytov

[2014-01-14 10:04] #243 closed, assigned to genadyp

[2014-01-14 10:05] yarondbb commented on #244
Since it is temporary only I think easiest for Customer is to have it as a script under bin.
We will remove it in next release.

[2014-01-14 10:05] #244 closed, assigned to yarondbb

[2014-01-14 14:58] yarondbb opened #246 "Get a diff between old and new content data files"
Should be done offline on 2 files.
Generate reports, which contents Added, Removed from old to new

[2014-01-14 15:05] yarondbb opened #247 "Check if files checksum is corrupted - full requirements"
1. Add global parameter (thorugh YML) for time (in Days) threshhold.
2. When application is not doing any task, check instances which their index time till current time elapsed byond the new threshhold parameter.

2.1 If files attributes has changed (or file does not exists), handle as changed file (legacy)

2.2 if file attributes are the same, then index the file and compare with existing checksu

[2014-01-16 18:00] yarondbb opened #248 "Go - define criterias"
Go - define criterias upon which we will decide if to move to develope in Go

[2014-01-16 18:01] yarondbb opened #249 "Refactor monitor method"

[2014-01-16 18:01] yarondbb opened #250 "manual changes in files - Add tests"

[2014-01-17 09:35] yarondbb opened #251 "Check if files checksum is corrupted - 1st phase - add status field in cd"

[2014-01-19 04:56] bbfsdev commented on #246
Please look [file_utils.rb L179](https://github.com/bbfsdev/bbfs/blob/master/lib/file_utils/file_utils.rb#L179), you can see there are 3 actions available for content data (merge, intersect and minus) those are enough to generate the diff.
merge - combine two CD (symmetric)
intersect - return only instances/contents that are in both CD (symmetric)
minus - returns contents/instances that are in A a

[2014-01-21 17:34] genadyp commented on #178
New branch created [issue178_code_coverage](https://github.com/bbfsdev/bbfs/tree/issue178_code_coverage)

Committed code includes:
-  Code coverage support

[code]
- move all minitest tests to RSpec format
- new_spec rake task, that creates new template spec

[code]

Pull request #252

[2014-02-13 04:11] yarondbb commented on #251
No need to add ne fuild. Currenty the index time will be used with -1 value to indicate that file is corruped

[2014-02-13 04:11] #251 closed, assigned to nobody

[2014-02-13 04:14] yarondbb commented on #236
tests written

[2014-02-14 07:00] genadyp commented on #246
@yarondbb
@AlexeyNemytov
@kolmanv
@vshiray
Few questions, cause usage is unclear:
- Only diff of contents should be reported?
- What should be a report format - what is an information that user wants to retrieve?
  Say, if we have only content data in the report (checksum, time) - what user can to do with this data?

[2014-02-14 08:43] kolmanv commented on #246
First I think the output should be a file in the same format.
It probably should be asymmetric, i.e., give me all instances of contents
which are in content a and are not in content b.
You should output something like:

bbfs> diff cd_a cd_b > cd_diff
There are 512 (569) in cd_b 768 (1012) which are not in cd_a 1096554
(1256778).
Where X (Y) - X is contents and Y is instances.

cd_diff should have

[2014-02-14 08:58] genadyp commented on #246
So diff report actually is in the same format as ContentData?
Then it is very close to what we have in [file_utils.rb L179](https://github.com/bbfsdev/bbfs/blob/master/lib/file_utils/file_utils.rb#L179).
We can add few commented lines in the header of the report with an information similar to the command line diff or version control diff (what files were compared, etc).

[2014-02-14 10:21] bbfsdev commented on #246
Yes. That what I understand.
On Feb 14, 2014 10:58 AM, "genadyp" notifications@github.com wrote:

[2014-02-20 10:15] genadyp commented on #246
Actually we can stay with a file_utils code while:
- we add file_utils to the [gemspec](https://github.com/bbfsdev/bbfs/blob/master/content_server.gemspec#L45), then it will be installed in a system along with other executables
- return a `ContentData.to_s`. i.e. to add `output.to_s` in [file_utils.rb#L100](https://github.com/bbfsdev/bbfs/blob/master/lib/file_utils/file_utils.rb#L100)

Usage for t

[2014-02-27 13:42] yarondbb commented on #246
Yes, this is what shiray wants in general. He does not care the format
HE wants to provide path to old CD file and path new new CD file and get:
  new contents and their instances in new CD

[2014-03-01 11:58] yarondbb commented on #236
#254 submitted
Who can do the code review? @kolmanv  @genadyp  ?

[2014-03-01 12:06] kolmanv commented on #236
I will do this.

On Sat, Mar 1, 2014 at 1:58 PM, yarondbb notifications@github.com wrote:

[2014-03-07 20:46] #246 closed, assigned to nobody

[2014-03-14 08:33] yarondbb opened #258 "Time Modification Test test modify test fails on first attemp. Then it passes."
Details: on first attemp we get the below error. Then it always passes:

Failures:

  1) Time Modification Test test modify
     Failure/Error: mod_db.should == indexer.indexed_content
       expected: 4
       38a7cf60ea0efe9a00edf17bd0ff8f853dc7c064,3500,1306527039
       f07293e62687aa41dbd54e3bdf622947074361ba,10500,1306527039
       366c1073776db2ea1c8bf16fbf8e148d4dd76b38,5,1306527039

[2014-03-15 12:19] #235 closed, assigned to yarondbb

[2014-03-22 11:44] genadyp opened #260 "ContentData file utils performance issue"
**Issue description:**

#### TODO
- [x] Rake task for performance (see Rspec tag usage). `spec` task should be updated not to run performance tests. [_Rake perf and Rake all_specs are added, Rake spec run w/o performance tests_]
- [x] Memory performance checks are too inaccurate. Consider replace/remove.
  [_Fixed: `ps` returns memory usage in KB and we assume bytes._]
- [x] GoogleHashes implement

[2014-03-24 16:00] genadyp commented on #260
Working branch: [issue260_diff_performance](https://github.com/bbfsdev/bbfs/tree/issue260_diff_performance)

[2014-03-25 10:22] genadyp opened #261 "Parameters printed to the STDOUT even if appropreate parameter is false"
@yarondbb look please

[code]

Looks like lines [108](https://github.com/bbfsdev/bbfs/blob/master/lib/log.rb#L108)-[111](https://github.com/bbfsdev/bbfs/blob/master/lib/log.rb#L111) should be deleted

[2014-03-26 20:36] genadyp commented on #260
**Content Data Performance Test**
1. Object initialization
   1. Init one object
      1. 350000 instances in less then 600 seconds
      2. clone from exist object of 350000 in less thes 600 seconds
   2. Init more then one object
      1. two object each of 350000 instances in less then 1200 seconds
2. File operations
   1. save/load on 350000 instances in less then 600 seconds
3. Set operations

[2014-03-27 11:21] kolmanv commented on #260
1) Why minus depends on clone? This might not be necessary.
2) To file is slower because of the gzip. Try testing for time without the
Gzip. But that times might be acceptable.

On Wed, Mar 26, 2014 at 10:36 PM, genadyp notifications@github.com wrote:

[2014-03-27 12:29] genadyp commented on #260
I am using master version without GZip
Still it is strange - i expected that from file takes more time cause then we initialize objects.

[2014-03-27 12:33] genadyp commented on #260
Looks like a problem is not clone itself but iteration over all instances.
It takes, without any operation, just an itertion, about 330 seconds on 350_000 instances.

[2014-03-28 04:10] genadyp commented on #260
Version without clone:

with clone it takes ~548 seconds

[2014-03-28 15:49] kolmanv commented on #260
Are any other way of iteration is faster?
There are different ways to iterate over data structure.
What about Ruby 2.1.1? It might be faster.

On Fri, Mar 28, 2014 at 6:10 AM, genadyp notifications@github.com wrote:

[2014-03-29 11:19] genadyp commented on #260
@yarondbb
@kolmanv
[google_hash](https://github.com/rdp/google_hash) was checked.
From the online module README:

**Test code:**

[code]

**Benchmark output format**
user CPU time, system CPU time, the sum of the user and system CPU times, and the elapsed real time

**Ruby enumerators result:**

**google_hash result:**

To get more complete  results  need to do more changes in the code - can take

[2014-03-29 11:21] kolmanv commented on #260
Please check Ruby 2.1.1 it might be faster there. Before we move to google
hashes.

On Sat, Mar 29, 2014 at 1:19 PM, genadyp notifications@github.com wrote:

[2014-03-30 11:32] kolmanv commented on #260
Not supported by RVM might not be a stopper. In Any case we have to check
2.1.1 and see if it is better. We don't have to use MRI Ruby ether.
This might be a different issue though.

On Sat, Mar 29, 2014 at 2:32 PM, genadyp notifications@github.com wrote:

[2014-03-30 12:11] genadyp commented on #260
Was already fixed - there was a need to upgrade rvm.
Same RVM issue with our test machines. On f1.test RVM was upgraded and Ruby2.1.1 installed.
Have results. Publish them later in ordered way.

[2014-04-05 10:14] bbfsdev opened #262 "Use google hashes for content data"

[2014-04-05 10:14] bbfsdev commented on #260
Adding parallel issue to add google hashes #262. Working on it.

[2014-04-05 12:02] bbfsdev commented on #260
Gena please check add_google_hashes branch. I'm using "benchmark" to measure time which seems more accurate.

[2014-04-05 14:57] bbfsdev commented on #260
Testing with google_hashes I got slower runtime results :(
Gena what did you do to get faster results?

[2014-04-05 19:24] genadyp commented on #262
@yarondbb
@kolmanv
Yaron already did such an experiment
https://github.com/bbfsdev/bbfs/blob/issue_200_ggl_hash/lib/content_data/content_data.rb

[2014-04-05 19:33] genadyp commented on #260
@yarondbb
@kolmanv

There are currently two versions of the benchmark:
Which one we are taking?
@kolmanv , inform please when you are working on the same parts of the code.
We talked that you implement google_hash (content_data.rb), but actually benchmark was changed, it means that we both worked on the same code and one version is redundant (~ 5 hours that I spent today, may going to the waste).

[2014-04-05 19:47] genadyp commented on #260
Looks OK with **ruby-1.9.3-p327**

[2014-04-05 19:53] genadyp commented on #260
With **ruby-2.1.1**

[2014-04-05 20:09] genadyp commented on #260
@kolmanv
I do not see in the [add_google_hashes](https://github.com/bbfsdev/bbfs/commit/b247ddced053d939a5d83ef7529a28af54cea7e7) branch that GoogleHash was used.
Do you use a Ruby hash with less strict conditions in the test?

[2014-04-07 02:31] kolmanv commented on #260
I don't understand why your work go to waste? Don't agree I'm using your
benchmark. Why do you say so?

On Sat, Apr 5, 2014 at 10:33 PM, genadyp notifications@github.com wrote:

[2014-04-07 02:44] bbfsdev commented on #260
I'm having the same results as you are both in add_google_hashes branch and in issue260\* branch. @yarondbb please release Gena branch, i.e., issue260_diff_performance.

[2014-04-07 19:23] genadyp commented on #260
#### Intermediate results

Tests ContentData specifications:
basic ContentData methods on 350_000 instances
- finish in less then within 5 minutes
- consume less then 250 MB

---

Was found that ConntentData cloning is extremely expensive operation

then minus of two ContentData objects was re-written without using cloning

---

Was found that performance of Ruby2.1.1 is much better than Ruby1.9.3

[2014-04-09 07:06] bbfsdev commented on #262
Performance is better with google_hashes. (write and read from file is still old code...)

[WARN] [2014-04-09 02:53:41] [log.rb:113:Configuration file path:'/home/kolmanv/.bbfs/etc/config_rspec.yml' does not exist. Skipping loading file parameters.]
[DEBUG] [2014-04-09 02:53:43] [content_data_performance_spec.rb:46:Init one object 35000 instances in less then 300 seconds: finished in 1 seconds]
.[

[2014-04-14 02:33] bbfsdev commented on #262
With total support of google_hashes (with gzip!):
ruby 1.9.3p484 (2013-11-22 revision 43786) [x86_64-linux]
[WARN] [2014-04-14 02:06:22] [log.rb:113:Configuration file path:'/home/kolmanv/.bbfs/etc/config_rspec.yml' does not exist. Skipping loading file parameters.]
[DEBUG] [2014-04-14 02:06:59] [content_data_performance_spec.rb:46:Init one object 350000 instances in less then 300 seconds: finishe

[2014-04-14 02:33] bbfsdev commented on #262
Interesting that init take twice as much as in Gena tests. Why is that? Gena any ideas?

[2014-04-14 02:34] bbfsdev commented on #262
Minus is fast!
Iteration is fast!
File save load is a bit slower (due to gzip)

[2014-04-14 02:34] bbfsdev commented on #262
Google hashes are ready for usage.

[2014-04-16 04:42] yarondbb opened #264 "Update BBFS "diff " specifications"
Update BBFS specifications, if we have any, with diff specifications:
     should run in less then within 5 minutes

[2014-04-16 04:43] yarondbb opened #265 "ContentData cloning performance improvement"

[2014-04-16 04:43] yarondbb opened #266 "Ruby 2.1.1 as a project requirement"
To update README and inform Shirai

[2014-04-24 18:58] genadyp commented on #266
README was updated

[2014-05-02 14:14] AlexeyNemytov commented on #260
I did not find  2.1.1 version for Windows on net
As I see such build dos not exist for Windows
latest stable version 2.0.0

[2014-05-03 06:00] genadyp commented on #260
2 @AlexeyNemytov
- need to talk with @yarondbb - he is using windows
- we concentrate our development for Linux, than I do not know does it matter to use Ruby1.9.3 or Ruby2.1.1 during development - code should run fast on Linux server.
- try to use [pik](https://github.com/vertiginous/pik) - it is like RVM for Windows

[2014-05-03 07:05] AlexeyNemytov commented on #260
@genadyp
No problem observed on Linux
Just wanted to update version on my home laptop
Did not find 2.1.1 for windows .

[2014-05-26 21:02] genadyp opened #268 "data migration bug"
@vshiray reported:

[2014-05-26 21:19] genadyp commented on #268
@vshiray
@kolmanv
@yarondbb
@AlexeyNemytov

Problems:
1.No Params.init run while Log suppose that Params were initialized.
Solution: fixed in fix_content_data
2.There is no check of an instance line that was read from old-format file.
Solution: check was added
3.We suppose that delimiter in the old format files is a [comma](https://github.com/bbfsdev/bbfs/blob/master/lib/content_data/content_data.

[2014-05-26 22:19] genadyp commented on #268
fixed :) fix_content_data successfully finished

Note the running time on the file with 308989 contents.

[2014-06-05 15:28] genadyp opened #270 "Diff between two timestamps: Design"
We have a few options for the diff depending on the methods we store content data.
1. Currently we can use modification_time/indexation_time parameters for the diff between two timestamps.
   Pro:
   - Minimum changes.
   - It enough to have one file that contains the index.
     Then there is no fear that we can miss any changes, cause we have only one file that contains all the index.

   Contra

[2014-06-05 15:29] #268 closed, assigned to genadyp

[2014-06-05 15:31] #260 closed, assigned to genadyp

[2014-06-05 15:32] #177 closed, assigned to genadyp

[2014-06-06 11:41] bbfsdev commented on #270
1. Contra: Takes much place on hard drive to store many content_data files.

I think we should go with 2.i
2.ii seems more complicated to handle one file, maybe we will need locks, appending to file all the time, reading it fully. Don't want to work with parts of file.

[2014-06-07 05:59] genadyp commented on #270
It it not so obvious.
Looks like Shirai use-cases is only to add files. Then the statement is true. This is always true on backup machine.
But, by design, we need also to store deletions, then same instance can appear 2 times - when added and when deleted. It is a real scenario for master/content machine.

[2014-06-07 06:10] genadyp commented on #270
What is disturbing me regarding multiple files : how to ensure that we do not lose any diff file?
Is ordinary backup is enough? What about diffs of content data of backup machine?

[2014-06-07 06:12] kolmanv commented on #270
we should have a predefined structure. One for per day for example. One
base file per day and several diff files in that directory. How files will
be lost?
On Jun 7, 2014 9:10 AM, "genadyp" notifications@github.com wrote:

[2014-06-08 07:23] bbfsdev commented on #270
Maybe a key/value database here would be a good solution.
Low on upkeep + simple code instead of sql statements.

[2014-06-08 13:21] genadyp commented on #270
I am thinking about object-relational-mapping.
I am not experienced in databases but there should be an abstract layer that provides a way to communicate with database in object-oriented way rather than building sql statements.

[2014-06-08 13:29] bbfsdev commented on #270
I don't believe in such object-relational-mappings. I think it will be hard to optimize.
I think we should consider redis.

We should use it's [scripting](http://redis.io/commands#scripting) abilities to keep the data structure in redis with all it's commands.

Lets try building design for key/value pairs database?
We need access by SHA1 and we need access by server/filename right?

[2014-06-08 14:08] bbfsdev commented on #270
On second thought, maybe rational database is a good option. It has the joins we need to do operations in file sets.

[2014-06-13 20:30] genadyp commented on #270
Let's think about following structure:

#### File Structure
- Year1 folder
  - Month 01 diff file
    - Day 01 diff file
    - ......
    - Day 31 diff file
    - Month 01 cumulative diff
  - ....
  - Month 12 diff file
  - Year1 cumulative diff file
- Year2 folder
  - .....
- ......

#### Diff file structure

Entry with opening `-` means that instance was removed from the file system
Entry withou

[2014-06-14 10:07] bbfsdev commented on #270
What is a remove entry? Is is one row in a file?
1. I think we can store remove entries per day in separate file, that way we don't need to change the code. I mean for each day we will have two files:
   - backup.data-20140324
   - backup.data-20140324.removed

   the .*.removed file will have entries with instances that were removed during that day (and not added back right away).
2. One folder f

[2014-06-14 10:10] bbfsdev commented on #270
I would extend the algorithm to have multiple files per day, i.e, if I set up to index my files once every 15 hours then I should get something like:
1. backup.data-20140324.0
2. backup.data-20140324.1
3. backup.data-20140325.0
4. backup.data-20140325.1
5. backup.data-20140326.0

(This index also may be time related, i.e., backup.data-20140326-0802 or backup.data-20140326-1602  UTC time).

That wa

[2014-06-14 10:12] bbfsdev commented on #270
So basically we have two parameters:
1) index every X time.
2) save full index every Y time.
where X is one day (What Shiray does in action) and Y is month.

[2014-06-14 10:14] bbfsdev commented on #270
Actually this is very similar to what we have, we just generate a full time each time, and now we will have to create two diffs files (one is .remove file) and when reading the content data there should be a bit more complex logic of finding earlier base file which should also be marked as:
backup.data-20140324.base or backup.data-20140324.full or backup.data-20140324.cumulative

I feel we are get

[2014-06-16 19:17] genadyp commented on #270
Actually - file that was in a previous index, but absent in current.

Agree. separate files for removed entries make code more simple

How we can track that file/content was not added back right away?

We can create folders in a lazy way - when it actually needed.

First file, whatever it will be have to be cumulative.
There should be no matter to do exact time manipulation. I mean that all the ca

[2014-06-16 19:20] genadyp commented on #270
Why we need to store a full index?

[2014-06-16 19:21] genadyp commented on #270
What are  *.full, *.base files?

[2014-06-17 11:56] bbfsdev commented on #270
How we can track that file/content was not added back right away?
I think we don't need to. We just write a file at specific moment in time, if the file in that time is not there and were in previous session we write it. We don't care to do mistakes as our process converges to truth, i.e., we will index the files again later and the situation will be fixed.

We can create folders in a lazy way - w

[2014-06-20 14:31] genadyp commented on #270
@kolmanv
Could you write a summary of your vision?
It differs from [this suggestion](https://github.com/bbfsdev/bbfs/issues/270#issuecomment-46056480) and I do not see the whole picture.

[2014-06-22 07:45] bbfsdev commented on #270
@genadyp @vshiray
1) One folder.
2) Parameter save/flush to disk index every X seconds (we have this parameter). Will save only incremental changes from previous snapshot.
3) Parameter save full index every Y seconds (new parameter).

Thats it!

Is this clear enough?

Shiray please approve.

[2014-06-22 11:23] vshiray commented on #270
There are several topics for discussion:

1)  full data must be natively ordered in time
So it can be named like "unix_timestamp.data".

2) Diff must be applied to the nearest data file.
But it can be several options like:
a) The name part of the difference file is the same as the full data.
Every record includes what has been changed and what time.
We have a single difference file for every full

[2014-08-02 06:57] genadyp commented on #270
Branch [issue270_incremental_diff](https://github.com/bbfsdev/bbfs/tree/issue270_incremental_diff)

[2014-08-02 13:23] bbfsdev commented on #270
Is this ready for review?
On Aug 2, 2014 9:57 AM, "genadyp" notifications@github.com wrote:

[2014-08-03 10:08] genadyp commented on #270
not yet

[2014-08-15 19:11] genadyp commented on #270
@vshiray
@kolmanv
@yarondbb

Is this structure good enough:
**date1.full**                      _full snapshot for date1_
**date1-date2.added**       _files that were added from date1 till date2_
**date1-date2.removed**   _files that were removed from date1 till date2_
**date2-date3.added**       _files that were added from_ **date2** _till date3_
**date2-date3.removed**    _files that were remove

[2014-08-16 14:48] bbfsdev commented on #270
It all depends on practical usage. I mean the diff between date1 and date2 and date3 and the diff between two ".full" files.

Implement what is easier.

[2014-08-16 15:06] bbfsdev commented on #270
Code review done.

[2014-08-16 16:21] bbfsdev commented on #270
Note: All date timestamps should guarantee that all files listed as stable before that second are in the content data.
I mean that monitoring service has to return the timestamp of the last scan (glob).

[2014-09-27 11:49] genadyp opened #275 "Incremental diff implementation"
For more details about incremental diff #270
#### TODO
- [ ] [ContentDataDb](https://github.com/bbfsdev/bbfs/blob/master/lib/content_server/content_data_db.rb) should be taken into action with a [ContentServer](https://github.com/bbfsdev/bbfs/tree/master/lib/content_server)
- [ ] Use a [ContentDataDb#get](https://github.com/bbfsdev/bbfs/blob/master/lib/content_server/content_data_db.rb#L304) to in

[2014-09-27 12:11] bbfsdev commented on #275
So basically this can already be used, right?
Did you do a pull request? (did you pushed your local branch?)

[2014-09-27 13:03] genadyp commented on #275
[Pull Request](https://github.com/bbfsdev/bbfs/pull/273/)

@yarondbb
@kolmanv
Review please

---

Basically we can use it after the code review and resolving the three first task from the [TODO list](https://github.com/bbfsdev/bbfs/issues/275#issue-44169919)

[2014-10-07 07:53] genadyp commented on #275
[Branch merged](https://github.com/bbfsdev/bbfs/pull/273)